<div class="page-content">
    <h1>О проекте Codex of ...</h1>
    <p>Codex создаётся как универсальная система для НРИ, которая должна принести много позитивных эмоций</p>
    
    <h2>Команда</h2>
    <p>Разработка ведется силами небольшой команды увлеченных энтузиастов</p>
	<p>Дмитрий "Rebus"</p>
	<p>Андрей "Феникс"</p>
	<p>Анастасия "Морриган"</p>
	<p>Сергей "Тихоня"</p>
    
    <h2>Принципы</h2>
    <ul>
        <li>Вдохновись</li>
        <li>Настрой</li>
        <li>Играй</li>
    </ul>
</div>