<div class="page-content">
    <h1>Основная информация</h1>
    <p>Здесь должна быть какая-то важная информация, но я её ещё не придумал</p>
    
    <h2>Цели проекта</h2>
    <ul>
        <li>Цель 1</li>
        <li>Цель 2</li>
        <li>Цель 3</li>
    </ul>
    
    <h2>Распространение</h2>
    <p>Проект использует:</p>
    <ul>
        <li>Полностью свободное распространение основных правил</li>
        <li>Свободная поддержка пользовательских дополнений</li>
        <li>Принцип постоянных изменений и дополнений</li>
    </ul>
</div>