<div class="page-content">
    <h1>О проекте</h1>
    <p>Codex of... создаётся как модульная система для НРИ, которая должна принести много позитивных эмоций.</p>
	<p>В системе массово используются различные счетчики, применимые ко многим аспектам игры, от здоровья персонажа, до различных таймеров и объемов, что поволяет настраивать систему под свои игры и нюансы игровых ситуаций.</p>
    
    <h2>Команда</h2>
    <p>Разработка ведется силами небольшой команды увлеченных энтузиастов:</p>
	<p>Дмитрий "Rebus"</p>
	<p>Андрей "Феникс"</p>
	<p>Анастасия "Морриган"</p>
	<p>Сергей "Тихоня"</p>
	
	<br> <!-- Пустая строка -->
	<p>Codex of... распространяется полностью бесплатно.</p>
	<p>Мы будем очень рады вашим личным дополнениям к системе и окажем консультацию по любому интересующему вас вопросу.</p>
	<p>Если вы желаете рапространять собственные модули, мы просим вас только об одном — указать ссылку на наши сообщества и сайт.</p>
    
	<br> <!-- Пустая строка -->
    <h2>Принципы</h2>
    <ul>
        <li>Вдохновись</li>
        <li>Настрой</li>
        <li>Играй</li>
    </ul>
</div>