<h2>Создание персонажа </h2>




<ul>
<li><strong>Имя</strong> — придумайте имя персонажа, под которым его знают. Это может быть псевдоним, кличка, позывной, да что угодно.</li>
<li>Выберите ремесло персонажа, в чем он хорош или чем зарабатывает на жизнь?</li>
<li>Придумайте в рамках вашей игры предысторию персонажа, что толкнуло его на путь приключений или сподобило оказаться в текущих событиях внутри игры?</li>
<li>Распределите между подготовками <strong>7 уровней</strong>.<ul>
<li>Используйте опциональное правило, если считаете его необходимым;</li>
</ul>
</li>
<li>Распределите <strong>10 уровней</strong> между навыками.<ul>
<li>Основные навыки при создании можно увеличить до <strong>3</strong>;</li>
<li>Остальные навыки только до <strong>2</strong>;</li>
</ul>
</li>
<li>Обведите или нарисуйте дополнительные ячейки Буферов согласно уровням навыков <strong>Телосложения</strong> и <strong>Сила Воли</strong>.</li>
<li>Обведите <strong>3 ячейки</strong> в шкале потенциала.</li>
<li>Придумайте и запишите <strong>проявление потенциала</strong>.</li>
<li>Придумайте способности на <strong>7 уровней</strong>, одну не выше <strong>3 уровня</strong>, остальные не более <strong>2 уровня</strong>.</li>
<li>Запишите черты персонажа.<ul>
<li>Одна черта, присущая вашей расе, если она есть;</li>
<li>Две черты придумайте сами, присущие лично вашему персонажу;</li>
</ul>
</li>
<li>Если вы желаете — напишите вашему персонажу одно <strong>увечье</strong>, но за это вы можете взять на выбор один бонус из списка::<ul>
<li>увеличить одну любую <strong>способность</strong> на <strong>один (1)</strong> уровень;</li>
<li>получить дополнительную <strong>черту</strong> или уровень <strong>черты</strong>;</li>
<li>взять персонажу собственно придуманные два <strong>туза</strong>;</li>
<li>увеличить одну <strong>подготовку</strong> на один уровень;</li>
<li>увеличить два <strong>навыка</strong> на один уровень.</li>
</ul>
</li>
</ul>

<br> <!-- Пустая строка -->
<h3>Развитие персонажа</h3>


<p>Как и в любой НРИ, в <strong>“Codex of…”</strong> персонажи имеют возможность развиваться, увеличивая свои <strong>навыки</strong>, <strong>способности</strong>, <strong>черты</strong> и <strong>подготовки</strong>. Мы не сторонники выдавать опыт за количество убитых противников, решенные задачи и прочие активности, они являются составляющими вашего сюжета и фана от игры. В <strong>“Codex of…”</strong> равитие происходит при завершении игровых сессий и сюжетных арок.</p>
<ul>
<li><strong>Игровая сессия</strong> — ведущий может наградить, выдав Туз персонажу за крутое, смешное, крайне печальное или иное выдающееся свершение в рамках игровой сессии;</li>
<li><strong>До пятой игровой сессии</strong> — игрок может изменить персонажу уже существующие уровни развития следующим образом:</li>
<li>Переместить один пункт развития между подготовками;</li>
<li>Переместить два пункта развития между навыками;</li>
<li>Заменить существующую способность;</li>
<li>Взять себе увечье с соответствующим бонусом, как при создании персонажа.</li>
<li><strong>Каждые две малые арки</strong> — игроки могут развить своим персонажам что-то одно из списка на свой выбор:</li>
<li>Уровень одной черты или взять новую;</li>
<li>Уровень одного навыка или взять новый;</li>
<li>Улучшить одну способность или взять новую;</li>
<li><strong>Каждую крупную арку</strong> — игроки могут выбрать два пункта из списка:</li>
<li>Увеличение подготовки на один уровень;</li>
<li>Улучшить одну способность и взять новую;</li>
<li>Увеличение шкалы потенциала на одну ячейку;</li>
<li>Увеличение двух навыков на один уровень или одного навыка на два уровня;</li>
<li>Взять два туза, самостоятельно дав им названия.</li>
</ul>
<p>Ведущий всегда может изменить допустимые пункты развития персонажей, но для этого он должен составить свой список и предоставить его игрокам ДО начала первой игровой сессии в кампании. В противном случае игроки могут использовать прописанные выше пункты.</p>