<h2>Награды за активности</h2>


<p>Конечно же любой хочет получить награду за победу над противником, решение головоломки и выполнения прочих важных активностей в процессе игры. Персонажи не получают очки опыта как таковые, они просто отсутствуют как класс, но наградить можно следующим образом.</p>
<p><p>Материальная награда</p>
<p>Персонажи могут найти ресурсы для крафта или продажи, новые предметы, предметы лучшего качества или даже уникальные. Ведущий <strong>скорее всего</strong> заготовит несколько наград за завершение сюжетных миссий.</p>
<p><p>Время на передышку</p>
<p>Персонажи могут получить дополнительное время, чтобы перевязать раны, подготовиться к предстоящим событиям или иных действий, которые желают выполнить.</p>
<p><p>Репутация</p>
<p>При выполнении активностей в пользу какой либо из сторон конфликта персонажи могут улучшать отношение к себе, что будет выражаться в большем количестве товара, которое они могут купить, сниженных цен, большем желании помочь персонажам и многом другом. Жители деревни будут рады, если приключенцы избавятся от волков, но вот волки — не очень, но сомнительно, что другие волки об этом узнают.</p>