<h2>Предметы</h2>



<p><img src="images/image6.png" alt="alt_text" title="image_tooltip"></p>
<p>Любой объект в «Codex of…», не являющийся персонажем или тем более эффектом — это предмет. Например, дождь — это масштабный физический эффект, а вот ведро воды — уже предмет. Но какой-нибудь условный голем уже является персонажем, хотя тот ещё предмет. В данном разделе мы объясним механики предметов, приведем их примеры и объясним, как с ними взаимодействовать.</p>

<br> <!-- Пустая строка -->
<h3>Название</h3>


<p>У любого предмета есть свое общепринятое название, например, меч, пистолет, вилка, колесо, автомобиль и другие. Вы отражаете название в карточке предмета, оно будет нарративно влиять на понимание того, что можно с его помощью сделать и какие возможности может предоставить предмет. Сомнительно, что мечом вы сможете эффективно копать, вилкой проводить хирургические операции, а колесом сражаться.</p>

<br> <!-- Пустая строка -->
<h3>Уровень предмета (IL)</h3>


<p>Любой предмет в игре имеет свой уровень. Это можно назвать качеством, технологическим уровнем, если вы играете в разные эпохи, и много как ещё, но суть остается одной и той же. Мы приведем уровни и примеры в соответствии с условным «фентезивековьем», но вы можете менять их и перерабатывать под свой мир и условия.</p>
<ul>
<li><strong>IL = 0</strong> — максимально простые по своей сути предметы, не требующие при создании ни навыка, ни особых знаний или инструментов, только здравая логика. Такие предметы, как палка вместо дубинки, шест из бамбука, повязка на тело из тряпки и прочие мелочи.</li>
<li><strong>IL = 1</strong> — предметы, требующие наличия навыка, но не требующие специальных материалов, инструментов и знаний. Это нечто совсем кустарное, что можно сделать из подручных материалов.</li>
<li><strong>IL = 2</strong> — уже требует навык и наличие какого-либо инструмента для создания, но особые материалы, знания и чертежи не нужны. В данном случае это большинство предметов, которые существуют в развитом социуме.</li>
<li><strong>IL = 3</strong> — требуется навык, инструменты и знания (чертежи) для создания. Чаще всего это предметы специализированного направления, где необходимо минимизировать шансы провала.</li>
<li><strong>IL = 4</strong> — требует навык, точные инструменты, разработанные чертежи (знания) и особые материалы. О данных предметах может подозревать общественность, то методы их производства обычно хранятся в строжайшем секрете.</li>
<li><strong>IL = 5</strong> — требует навык, высокоточные инструменты, знания (чертежи) и крайне редкие материалы. Это революционные для мира разработки, передовые разработки, инопланетные технологии, шедевры уникумов и т.д.</li>
<li><strong>Extra</strong> — это артефактные, инопланетные, неестественные предметы или любые иные, как созданные богами, высокоразвитой иной цивилизацией или единственный шедевр в своём роде. Такие предметы могут игнорировать любые запреты и правила, просто скажите, что делает этот предмет и всё. Или повесьте на него столько механик, сколько вам удобно, даже кастомных, и не беспокойтесь о “законности” этого.</li>
</ul>
<p>Качество предмета всегда определяется ведущим один раз и навсегда, изменить его не получится без какого-то влияния игрового процесса, например, квеста по улучшению предмета или длительных вложений по улучшению.</p>

<br> <!-- Пустая строка -->
<h3>Размеры предметов</h3>


<p>Размер предметов всегда отсчитывается от размера существа. То есть этот параметр весьма относителен, и мы не хотим загружать ваши и наши головы лишней математикой по высчитыванию ещё одной дополнительной математики. Большая часть предметов разделяется на несколько категорий:</p>
<ul>
<li><strong>Мелкие</strong> — совершенно небольшие предметы как иголки, спицы, монеты и многие другие, чей вес и габаритные размеры по отдельности не значат ничего. Используются за <strong>1D6</strong>;</li>
<li><strong>Небольшие</strong> — небольшие предметы, чей выс всё ещё особо не важен, но габаритные размеры уже да. Например ножи, гранаты, гаечные ключи, пистолеты, горшки, мётлы и иные. Используются за <strong>1D6</strong>;</li>
<li><strong>Габаритные</strong> — в данном случае вес и габариты имеют значение, как у одноручных мечей, дубин, шестов, медицинских чемоданов, табуретки и прочих. Используются за <strong>2D6</strong>;<ul>
<li>для данных предметов, чтобы свободно им пользоваться, требуется хотя-бы 1 уровень навыка <strong>Телосложение</strong> или <strong>Сила</strong>. В противном случае ведущий вправе наложить любой штраф к действиям.</li>
</ul>
</li>
<li><strong>Тяжелые</strong> — здесь не только важны вес и габариты, но один из этих параметров равен или явно превалирует над другим, например двуручный меч, булава, чемодан механика, арматура и им подобные. Используются за <strong>3D6</strong>;<ul>
<li>при использовании таких предметов требуется значение навыка <strong>Телосложение</strong> или <strong>Сила</strong> хотя-бы <strong>2</strong>. В противном случае ведущий вправе наложить любой штраф к действиям или даже запретить использование;</li>
<li>дополнительно используемые в действии <strong>D6</strong> можно конвертировать не для упрощения, а для увеличения эффекта.</li>
</ul>
</li>
<li><strong>Большие</strong> — в данном случае это настолько большие и/или тяжелые предметы, что обычный обыватель вряд ли сможет вообще пользоваться таким предметом. Просто вспомните гипертрофированно большие мечи из аниме и иных произведений, например меч из аниме “<strong>Берсерк</strong>”, хотя он даже больше. Используются за <strong>4D6</strong>;<ul>
<li>такие предметы просто невозможно использовать, если значение навыка <strong>Телосложение</strong> или <strong>Сила</strong> на <strong>3</strong> и более. Т.е они НАСТОЛЬКО большие и/или тяжелые.</li>
<li>дополнительно используемые в действии <strong>D6</strong> можно конвертировать только для увеличения эффекта.</li>
</ul>
</li>
<li><strong>Огромные</strong> — всё, это обычно предмет равный или даже больше, чем тот, кто хочет его использовать. Здесь точно подойдет сравнение с мечом главного персонажа аниме “<strong>Берсерк</strong>”. Используются за 6D6;<ul>
<li>если у персонажа нет значения навыка <strong>Телосложение</strong> или <strong>Сила</strong> на уровне <strong>4</strong>, такие предметы невозможно даже передвигать самостоятельно или с очень большим штрафом.</li>
</ul>
</li>
</ul>
<p><strong>ВАЖНО!!!</strong> Указанные требования применяются только для свободного использования предмета руками, например, размахивание с контролем траектории, подкидывание, броски и прочие манипуляции. Если персонаж желает перенести, протащить волоком или вовсе имеет средства для переноса — уменьшите требование в два раза или вообще уберите их, кроме как для огромных предметов.</p>
<p>И, естественно, одноручный «Габаритный» меч для человека будет двуручным «Тяжелым» для мелкого гоблина, но данные размышления оставляем на полет вашей фантазии и решение ведущего вашей игры.</p>
<p>Количество переносимых на персонаже предметов без перегрузки в минимуме составляет <strong>10</strong>, но также вы можете добавить двойной уровень навыка Телосложения. Например, если у персонажа Телосложение равно <strong>2</strong>, то он может переносить на себе <strong>9</strong> предметов (5 + 2 * 2).</p>

<br> <!-- Пустая строка -->
<h3>Модификации</h3>


<p>Абсолютно любой предмет может быть модифицирован. Модификации увеличивают уже существующие возможности предмета или дают ему новые. Любая модификация выражена в числовом или логическом эквиваленте, но не может изменить свойства предмета как таковые. Например, даже если вы повесите на меч снайперский прицел, это не даст ему ни точности, ни дальности атаки, если вы играете не в условный Манчкин в виде ролевой игры. Но вот «заточка» даст ему дополнительный урон.</p>
<p>Вот несколько пунктов, которые описывают возможности модификаций как таковые:</p>
<ul>
<li><strong>Усиление</strong> — любая модификация может дать +1 к основному использованию предмета, как +1 урона оружия, +1 ячейка буфера брони, +1 применение расходника и т.д.;</li>
<li><strong>Эффекты</strong> — добавляет предмету какую-то новую логическую возможность. К примеру: нож увеличивает урон от кровотечения, защита от ещё одного вида эффекта для брони, дополнительно противоядие к зелью лечения и прочее. Оружие может иметь свои способности;</li>
<li><strong>Изменения</strong> — позволяет предметам как-то изменяться. Например легкий Двуручный меч, который уже требует меньше 5 <strong>ТЕЛ</strong> или требованием становится <strong>ЛОВ</strong>, пистолет теперь стреляет на большую дистанцию и многое другое.</li>
</ul>
<p>Количество модификаций зависит от <strong>IL</strong> предмета. Если у предмета <strong>IL=3</strong>, то и модификаций у него может быть только три. Если <strong>IL=5</strong> — пять модификаций, если <strong>IL=1</strong> — всего одна. При <strong>IL=0</strong> тоже могут быть модификации, но тогда добавьте предмету логичный дефект.</p>
<p>Но давайте проясним чего модификации <strong>НЕ МОГУТ</strong>:</p>
<ul>
<li><strong>Успехи и провалы (LV/FV)</strong> — модификации не могут дать дополнительные <strong>LV</strong>/<strong>FV</strong> или уменьшать их количество.</li>
<li><strong>Ломать механики</strong> — модификации строго привязаны к механикам предмета и его нарративу и не могут сделать одноручный меч снайперской винтовкой.</li>
<li><strong>Добавлять D6</strong> — предметы не добавляют <strong>D6</strong> персонажам.</li>
<li><strong>Использовать D6</strong> — если не могут передвигаться самостоятельно, если это не щупальца доктора Октопуса из SpiderMan.</li>
</ul>
<p>Вы вполне можете проигнорировать в своей игре данные ограничения, но сразу предупреждаем — баланс будет нарушен. Так что пользуйтесь нарушением для абсолютно всех предметов, но это чревато, или предоставьте такие возможности только для условных артефактных предметов.</p>
<p><strong>ВАЖНО!!! </strong>Модификации не появляются вместе с созданием самого предмета! Модификации необходимо дополнительно создавать на предмете по формуле созидания, только вместо сложности используйте номер модификации, которую желаете создать.</p>

<br> <!-- Пустая строка -->
<h3>Особенности</h3>


<p>Особенность предмета может изменять правила игры или давать предмету дополнительные возможности, даже немного ломая механики, но НЕ НАРРАТИВ. Особенности предмета обычно закладываются при их создании и только в редких случаях могут дополняться или изменяться. Обычно предметы получают особенности в следующих случаях:</p>
<ul>
<li><strong>Материал</strong> — его используют при создании предмета. возможно предмет создан из особого материала, как всеми любимые мифрил или адамантий.</li>
<li><strong>История</strong> — даже самый обычный нож, которым убили множество знатных господ, получит свою особенность “Убийца королей”.</li>
<li><strong>Условности мира</strong> — это сам по себе особенный предмет, при выполнении квестов по улучшению будет приобретать дополнительные особенности.</li>
</ul>
<p>Также особенности могут обозначать состояние предмета, например, «<strong>ржавый</strong>», «<strong>ломкий</strong>», «<strong>освященный</strong>», «<strong>энергетический</strong>», «<strong>убийца драконов</strong>», «<strong>сверхточный</strong>» и многое другое. Но любая особенность должна иметь нарративное или механическое влияние на игру. Если особенность НЕ ВЛИЯЕТ, то она не нужна в игре.</p>
<p>Как они влияют на механики игры? Абсолютно по-разному, вы можете сами придумать, что дает та или иная особенность. Это будет нарративное влияние, механическое (+/– 2 к чему-то), изменение какой-либо механики или её дополнение. Например:</p>
<ul>
<li>Кинжал “Убийца королей” — чем выше статус цели, тем больше дополнительного урона он нанесет. Против нищего это обычный кинжал, а против короля наносит дополнительно 10 урона.</li>
<li>“Маска серого лиса” — делает вас абсолютно неузнаваемой личностью, пока вы ее носите, но ваш статус и нарратив больше не влияют на других персонажей.</li>
<li>“Мифрил” — данный предмет невозможно разрушить, кроме особенных способов, предусмотренных в вашей игре.</li>
<li>Скрипка “Дьявольский дар” — каждая мелодия данной скрипки наносит <strong>две (2)</strong> единицы ментального урона или увеличивает силу приказов.</li>
<li>Кузнечный молоток “Рука мастера” — один раз при помощи него позволяет создать предмет <strong>Extra</strong> уровня, но при наличии навыка персонажа, мастерской и материалов.</li>
</ul>
<p>И таких возможностей можно придумать ещё много.</p>

<br> <!-- Пустая строка -->
<h3>Функции предметов</h3>


<p>Данный элемент правил необходим не только как нарративный момент, но и как механический, накладывая на каждую категорию предмета свои условия.</p>

<br> <!-- Пустая строка -->
<h4>Оружие</h4>


<p>Естественно, данная категория предназначена для нанесения урона другим и никак иначе. С помощью данной категории нельзя, или крайне затруднительно, что-то починить, выкопать, передвигаться и прочие, не свойственные оружию, действия. Любое оружие сразу, при создании, будет иметь все модификации на свой <strong>IL</strong>.</p>
<p>Любое оружие имеет собственный урон, который зависит от его размера, а также оружие заменяет условие использования кубиков на своё:</p>
<ul>
<li><strong>Мелкие</strong> — кулаки, иглы, шпильки, сюрикены, дротики Дартса и прочее;<ul>
<li>min <strong>1d6</strong> на каждое использование</li>
<li>dmg = 1</li>
</ul>
</li>
<li><strong>Небольшие</strong> — ножи, когти, танто, пилумы и иное короткое оружие;<ul>
<li>min <strong>1d6</strong> для каждого использования</li>
<li>dmg = 2</li>
</ul>
</li>
<li><strong>Габаритные</strong> — мечи, дубинки, биты, шпаги и иные варианты;<ul>
<li>min <strong>2d6</strong> для каждого использования</li>
<li>dmg = 4</li>
</ul>
</li>
<li><strong>Тяжелые</strong> — двуручные мечи, алебарда, арматура, кувалды и прочее;<ul>
<li>min <strong>3d6</strong> на каждое применение</li>
<li>dmg = 6 </li>
</ul>
</li>
<li><strong>Большие</strong> — различное оружие, превышающее формат, которым может пользоваться человек или иное существо для своих габаритов;<ul>
<li>min <strong>4d6</strong> для каждого применения</li>
<li>dmg = 8</li>
</ul>
</li>
<li><strong>Огромные</strong> — Нечто абсурдно большое, как Заточка Гатса из “Берсерка”, Мечи Камаэлей из Lineage 2 и т.д.<ul>
<li>min <strong>6d6</strong> для применения.</li>
<li>dmg = 10</li>
</ul>
</li>
</ul>
<p><strong>ВАЖНО!!!</strong> Тяжелыми, большими и огромными предметами невозможно выполнить выверенную и точную атаку, если у персонажа нет на это возможности или необходимого навыка на уровне <strong>Extra</strong>.</p>

<br> <!-- Пустая строка -->
<h4>Броня</h4>


<p>Категория брони полностью противоположна предыдущей категории и предназначена для защиты персонажа от урона. Предметы этой категории в <strong>своём названии</strong> сразу обозначают источник эффектов, от которого защищают, например, физический, проникающий и прочие. Например, костюм химической защиты защищает от проникающих эффектов, доспех — от физических, силовое поле — от энергетических и так далее.</p>
<p>Каждый вид брони даёт своё количество защитного буфера и снижает урон в два раза от подходящего размера оружия, когда принимает урон в свой буфер:</p>
<ul>
<li><strong>Лёгкая</strong> — даёт <strong>две (2)</strong> ячейки буфера и снижает в два раза урон от мелкого и небольшого оружия.</li>
<li><strong>Средняя</strong> — даёт <strong>три (3)</strong> ячейки буфера и снижает в два раза урон от габаритного оружия. Требует значение <strong>1</strong> конкретного навыка.</li>
<li><strong>Тяжелая</strong> — даёт <strong>четыре (4)</strong> ячеек буфера и снижает в два раза урон от большого и меньшего размера оружия. Требует значение <strong>2</strong> конкретного навыка и увеличивает сложность тихого передвижения. Уменьшает дальность любого передвижения на <strong>один (1)</strong> гекс и увеличивает на <strong>одну (1)</strong> категорию сложность действий, требующих моторики и координации.</li>
<li><strong>Полная</strong> — даёт <strong>шесть (6)</strong> ячеек буфера и снижает в два раза урон от тяжелого и меньшего размера оружия. Требует значение <strong>3</strong> конкретного навыка, уменьшает любое передвижение в <strong>два (2) раза</strong>, а также увеличивает на <strong>две (2)</strong> категории сложность проверок, связанных с ловкостью, скрытным передвижением и вниманием.</li>
<li><strong>Капсула</strong> — даёт <strong>десять (10)</strong> ячеек буфера и снижает в два раза урон от всех размеров оружия. Пока такая броня не потеряет весь защитный буфер, либо оружие не обладает особыми средствами обхода подобного эффекта, персонажу ничего не будет угрожать. Так же персонаж не сможет никак взаимодействовать с окружающим миром из данной брони, если <strong>капсула</strong> сама не имеет необходимых средств, как манипуляторы робота и иные аналоги.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Инструменты</h4>


<p>Инструменты предназначены для помощи в определенных действиях, таких как ремонт или создание предметов, лечение персонажей, написание программ, взлом замков и иных действий. В основном они необходимы для использования вместе с навыками, такими как медицина, инженерия, программирование, кузнечное дело, взлом замков, оценка и прочими, чьи действия как таковые невозможны без вспомогательных средств. Также инструменты позволяют игнорировать заложенные <strong>FV</strong> на своё качество. Например, инструмент с <strong>IL = 5</strong> позволит игнорировать <strong>5 FV</strong>, но с <strong>IL = 1</strong> — только <strong>1 FV</strong>.</p>
<p>Инструменты всегда ограничивают персонажа в возможных действиях навыка своим <strong><a href="?tab=t.ooem9hfhmo8k#heading=h.5cwwiyiy6oiy">IL</a></strong>, запрещая делать что-то большее или сильно осложняя проверки. Например, написать код программы без компьютера невозможно, точнее он не будет работать без него, а провести хирургическую операцию без хирургического набора практически невозможно. Инструменты всегда имеют обозначение в своём названии, для чего они предназначены. Оставляем на совести ведущего, какие штрафы накладывать на действия при несоответствии <strong>IL</strong> предмета заявленному действию, вплоть до полного запрета.</p>

<br> <!-- Пустая строка -->
<h4>Расходники</h4>


<p>Эти предметы предназначены для сиюминутного выполнения конкретной задачи или непосредственной помощи в действии прямо здесь и сейчас. Любой расходник используется один раз и тратится сразу, но за это они сразу имеют одну особенность и может иметь сразу все модификации на свой <strong>IL</strong>, на усмотрение ведущего. Но эти самые модификации соответствуют только заявленному предмету. У расходников могут быть УНИКАЛЬНЫЕ для этой функции модификации:</p>
<ul>
<li><strong>Вспомогательный</strong> — добавляет для броска узконаправленного действия <strong>1D6</strong>, например отмычка при взломе замка;</li>
<li><strong>Ресурс</strong> — используют свой <strong>IL</strong>, как <strong>DM</strong> к любому <strong>логичному</strong> для предмета эффекту или создают эффект на значение <strong>IL</strong>, например зелье лечения;</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Контейнеры</h4>


<p>Данная категория помогает переносить другие предметы или даже объекты. Здесь всё просто: размер или количество предметов, которые может вместить контейнер, равен его категории размера, умноженному на его качество. Естественно, есть некоторая условность — в поясную сумку первого размера, чей <strong>IL = 5</strong>, а значит, вмещает 5 предметов, но всё равно нельзя вместить двуручный меч.</p>

<br> <!-- Пустая строка -->
<h4>Комплексные</h4>


<p>Мы понимаем, что не все предметы относятся только к четырем категориям выше, некоторые могут относиться сразу к двум, а то и трём, например, аптечка, граната, цифровая отмычка и иные. В таком случае ведущий или тот, кто создает предмет, сам выбирает, бонусы от какой категории получает предмет. Например, граната: она предназначена для нанесения урона, а значит, является оружием, но при этом она расходник как таковой, так как используется один раз.</p>
<p><p>Примеры предметов</p>
<p>В данном разделе мы просто приведем примеры предметов с их IL, описанием, стрессом, модификациями и что можно было сделать ещё с этим предметом в рамках обычной логики.</p>
<p><strong>ВАЖНО!!</strong>! Логика вашего игрового мира может сильно отличаться от привычных “классических”. Она может быть юмористичной, ужастиком или настолько нестандартной, что волосы встанут дыбом! Но никто не запрещает вам придумывать свои предметы и их составляющие, опираясь на собственную логику. Просто напомнили на всякий случай ;)</p>
<p><p>Граната</p>
<p>Лучшее средство для агрессивных переговоров и подавления толп! Завсегдатай карманов военных спецподразделений и крутых наёмников.</p>
<ul>
<li><strong>IL</strong> — 2</li>
<li><strong>Размер</strong> — Небольшое</li>
<li><strong>Функционал</strong> — Оружие/Расходник</li>
<li><strong>Модификации</strong> — осколочная, наносит дополнительный 1 урон всем в области действия</li>
<li><strong>Особенности</strong> — взрывчатка</li>
</ul>
<p><p>Старый меч</p>
<p>Верный товарищ и друг любого приключенца и гордого рыцаря. Использовать как лопату довольно сложно, зато рубить противников…</p>
<ul>
<li><strong>IL</strong> — 1</li>
<li><strong>Категория</strong> — Оружие</li>
<li><strong>Модификации</strong> — Рваные края, накладывает кровотечение.</li>
<li><strong>Особенности</strong> — Старый, полученный урон сломает его и сразу имеет один дефект.</li>
<li><strong>Дефект</strong> — Ржавый, урон уменьшен на 1.</li>
</ul>
<p><p>Комплект тяжелой брони</p>
<p>Сохранит вашу тушку в целости и сохранности или хотя бы попытается это сделать. Очень полезен в любой стычке, повышая шансы на выживание.</p>
<ul>
<li><strong>IL</strong> — 3.</li>
<li><strong>Категория</strong> — Броня</li>
<li><strong>Модификации</strong> — Облегченная, требует для ношения ТЕЛ 6+. Подгонка, не уменьшает дальность передвижения. Смазка, не увеличивает сложность скрытности.</li>
<li><strong>Особенности</strong> — Герметичный подклад, дополнительно защищает от проникающих эффектов.</li>
</ul>

<br> <!-- Пустая строка -->
<h3>Структура</h3>


<p>В разделе «<strong>Буфер</strong>» мы уже описывали данный вопрос, и предметы не являются исключением. Любой предмет имеет возможность принимать урон в себя, например, щиты и доспехи, которые принимают урон вместо персонажа. А вот меч редко принимает урон, но его также можно сломать при желании. Насколько поломан данный предмет определяет <strong>Буфер Структуры</strong> предмета</p>
<p>Размер <strong>буфера</strong> предмета равен его двойному качеству. Таким образом меч с <strong>1 IL</strong> будет иметь <strong>две (2)</strong> ячейки <strong>Буфера Структуры</strong>, а броня третьего качества — <strong>шесть (6)</strong> ячеек <strong>Структуры</strong>. Отличие составляют предметы с <strong>Extra IL</strong> — их <strong>Структура</strong> может быть как очень большой, от <strong>двенадцати (12)</strong> ячеек и до любых значений, а может просто отсутствовать, обозначая их неразрушимость.</p>
<p>Сразу отметим по броне, ее Структура <strong>НЕ</strong> является буфером урона, который она предоставляет персонажу. Ведь сколько не пробивай клевцом латы противника, они не опадут с него осенней листвой, хотя защитные свойства уже будут исчерпаны.</p>
<p><p>Износ (Опционально)</p>
<p>В большинстве ситуаций предметы не получают урон, если не были целью атаки или иного эффекта, который должен повреждать их <strong>Структуру</strong>. Оружие обычно не получает прямого урона в бою, как и Броня, однако любой предмет изнашивается при активном использовании, ненадлежащем хранении или просто со временем.</p>
<p>Включать износ предметов в свою игру или нет, вам предстоит заранее, чтобы ни для кого не было сюрпризом, что его любимый магический посох или крутая лазерная винтовка перестали работать.</p>
<p>Степень износа конечно же разнится от случая к случаю, но мы рекомендуем использовать следующие данные:</p>
<ul>
<li><strong>Оружие</strong> — после каждой боевой сцены получает от <strong>нуля (0)</strong> до <strong>трёх (3)</strong> единиц урона в <strong>Структуру</strong>, в зависимости от частоты использования;</li>
<li><strong>Броня</strong> — получает <strong>три (3)</strong> урона в <strong>Структуру</strong> после каждого раза, когда потеряет <strong>ячейки буфера</strong>, которыми защищает персонажа;</li>
<li><strong>Инструменты и расходники</strong> — получает <strong>единицу (1)</strong> урона в <strong>Структуру</strong> каждый раз, когда используется по назначению. Может получать дополнительный урон в зависимости от чистых <strong>FV</strong>, оставшихся после броска;</li>
<li><strong>Хранение</strong> — любой предмет, который хранится в ненадлежащих условиях получает урон в <strong>Структуру</strong> со временем на усмотрение ведущего игры.</li>
<li><strong>Extra</strong> — предметы с <strong>Extra IL</strong> обычно являются неразрушимыми или имеют <strong>ОЧЕНЬ</strong> большой запас <strong>Структуры</strong> и не получают урон в неё как иные предметы.</li>
</ul>
<p>На самом деле это правило в любом случае увеличивает расчеты, которые вам надо проводить, но при этом не нагружает в режиме реального времени, только по окончании сцены. Но прямое нанесение урона предмету, как попытки повредить его ударом, заклинанием или любым иным способом, вам необходимо записывать сразу.</p>

<br> <!-- Пустая строка -->
<h3>Создание предметов</h3>


<p>Если ваша игра делает упор на создание предметов персонажами самостоятельно или завязана на данном моменте, тогда данный раздел для вас! Мы очень хотим, чтобы создание предметов было органичным, интересным и имело возможности по внесению в игру чего-то собственного. Для начала давайте определимся с некоторыми моментами:</p>
<ul>
<li>Предметы <strong>IL</strong> = 0 может создать любой персонаж в тактический ход, сжигая кубики;</li>
<li>Предметы с <strong>IL</strong> &gt; 0 создаются только при наличии соответствующего уровня навыка;</li>
<li>Создание предмета <strong>IL</strong> = 1 и выше является стратегическим ходом и никак иначе;</li>
<li>Желаемый <strong>IL</strong> предмета определяется заранее;</li>
<li>Для создания предмета требуется навык, который будет равен или больше, чем желаемый <strong>IL</strong> создаваемого предмета;</li>
<li>Необходимо соблюдать требования для каждого <strong>IL</strong>.</li>
</ul>
<table>
  <tr>
   <td>
IL
   </td>
   <td>lvl навыка
   </td>
   <td>Инструменты
   </td>
   <td>Знания
   </td>
   <td>Материалы
   </td>
   <td>Доп. <strong>FV</strong>
   </td>
  </tr>
  <tr>
   <td>0
   </td>
   <td>0
   </td>
   <td>–
   </td>
   <td>–
   </td>
   <td>–
   </td>
   <td>0
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td>1
   </td>
   <td>–
   </td>
   <td>–
   </td>
   <td>–
   </td>
   <td>2
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td>2
   </td>
   <td>+
   </td>
   <td>–
   </td>
   <td>–
   </td>
   <td>4
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td>3
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>–
   </td>
   <td>6
   </td>
  </tr>
  <tr>
   <td>4
   </td>
   <td>4
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>8
   </td>
  </tr>
  <tr>
   <td>5
   </td>
   <td>5
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>10
   </td>
  </tr>
  <tr>
   <td>Extra
   </td>
   <td>Extra
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>+
   </td>
   <td>20
   </td>
  </tr>
</table>
<br> <!-- Пустая строка -->

<p>И вот ваш персонаж решил создать свой предмет. Это очень просто, и вот набор пунктов, которые просто следует соблюдать:</p>
<ul>
<li>Назначаем желаемую функцию предмета (оружие, броня, расходник и т.д.);</li>
<li>Решаем, предмет какого <strong>IL</strong> хотим сделать;<ul>
<li>Можно разбить проверки на количество, равное <strong>IL</strong>.</li>
</ul>
</li>
<li>Решаем, хотим ли заранее заложить модификации, если они не подразумеваются функцией предмета (нап. Оружие);<ul>
<li>За каждую дополнительно заложенную модификацию увеличиваем сложность создания на <strong>1 FV</strong>;</li>
</ul>
</li>
<li>Производим действия с проверкой.</li>
</ul>
<p>Всё! Вот такая простая механика. Модифицировать предметы можно по этой же логике, просто исключая из списка <strong>IL</strong> и функцию предмета, ведь они уже заданы самим предметом.</p>

<br> <!-- Пустая строка -->
<h3>Имущество персонажа</h3>


<p>На начало игры ваши персонажи не остаются голыми, если этого не предусматривает сюжет: например, побег из плена и/или рабства, выживание после трагического происшествия и т.д.</p>
<p>У каждого персонажа с самого начала есть такие условные предметы, как одежда, набор для похода (если предусмотрены походы) или простое жильё (если игра в пределах конкретной локации). Также каждый персонаж имеет определенный объем ресурсов/денег и сам решает, купил он что-то на до игры или оставил их как заначку. Есть два варианта старта для персонажей:</p>
<ol>
<li>Ведущий сам выдает предметы персонажам, на своё усмотрение, но при этом количество ресурсов/денег устанавливает также самостоятельно;</li>
<li>Игроки получают 35 ресурсов и закупаются по формуле и таблице, описанных в следующих разделах.</li>
</ol>
<p>Если вы желаете осуществить закупку и выдачу предметов игрокам — сделайте это, в конце концов игра происходить ради удовольствия каждого за игровым столом.</p>

<br> <!-- Пустая строка -->
<h4>Закуп предметов</h4>


<p>Если вы решили приобрести предметы по правилам закупок, то воспользуйтесь формулой:</p>
<ul>
<li><strong>P</strong> — искомая цена предмета.</li>
<li><strong>Q</strong> — целевое качество приобретаемого предмета.</li>
<li><strong>SL</strong> — уровень поселения, в котором приобретается предмет. Учитывается только в процессе игры, но не при создании персонажа. При создании персонажа считайте как 2.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Уровни поселений</h4>


<p>В процессе игры персонажи будут посещать различные поселения, которые будут значительно отличаться друг от друга как разнообразием товаров, так и своим технологическим уровнем (TL). Из-за чего будет разница цены на одни и те же товары, но при этом предметы определенного TL можно будет приобрести только в поселениях своего уровня. Кажется сложно, не так ли? Ничего, сейчас объясним, не переживайте.</p>
<table>
  <tr>
   <td>LvL поселения
   </td>
   <td>Примеры
   </td>
   <td>MAX IL предметов
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td>Лагерь, путешествующий торговец и т.д.
   </td>
   <td>1
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td>Поселение, деревня, застава
   </td>
   <td>2
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td>Небольшой город, аванпост, караван
   </td>
   <td>3
   </td>
  </tr>
  <tr>
   <td>4
   </td>
   <td>Региональный центр, замок лорда
   </td>
   <td>4
   </td>
  </tr>
  <tr>
   <td>5
   </td>
   <td>Столица, важные географические позиции
   </td>
   <td>5/Extra
   </td>
  </tr>
</table>

<br> <!-- Пустая строка -->
<p>Естественно, может случиться так, что предмет <strong>IL = 3</strong> вы приобретете в деревне <strong>уровня 2</strong>, но для этого должны быть предпосылки: заезд именитого ремесленника или случайно попавший в руки крестьян предмет.</p>
<p>В то же самое время замок равен <strong>уровню 4</strong>, но вот замок императора явно будет <strong>уровня 5</strong>. Не будет же император строить себе типичное гнездо, ведь у него и возможностей побольше, и денег, рабочей силы, да и более именитые ремесленники пойдут работать на такой проект с великой радостью.</p>
<p>Когда у вас возникло сомнение: «А того ли качества этот населенный пункт?» — задайте и ответьте на вопросы, на которые ответ «ДА» даст +1 уровень, но не больше +2 в общей сумме от первоначальной идеи уровня поселения:</p>
<ul>
<li>В данном поселении живет именитый ремесленник или купец?</li>
<li>Это поселение принадлежит непосредственно королю, императору, президенту или иной важной личности?</li>
<li>Руководитель тщательно следит за благополучием данного поселения?</li>
<li>Здесь должны продавать предметы качеством повыше?</li>
<li>Население грамотное и обученное относительно общего уровня развития мира?</li>
</ul>
<p>Если же вы играете не в путешествия, а в рамках города, то применяйте качество к районам города. Это подчеркнет их возможности и состояние, а также  даст понятие о населении, живущем в данном районе.</p>