<h2>Введение</h2>



<pre><code>                        <span class="hljs-symbol">__</span>“Начинать - всегда сложно<span class="hljs-symbol">__</span>


                        <span class="hljs-symbol">__</span>Продолжать - обычно больно”<span class="hljs-symbol">__</span>
</code></pre><p><strong>Codex of…</strong> представляет из себя систему-конструктор с влиянием контекста и нарратива. Повествование в процессе любой игровой сессии разделено между ведущим, игроками и кубиками.</p>
<ul>
<li>Ведущий имеет какую-либо идею, возможно даже какой-то план или тактику на игру и предоставляет ситуации игрокам.</li>
<li>Игроки вольны решать предоставленную ситуацию при помощи своих персонажей так, как сочтут необходимым, опираясь на отыгрыш персонажей, их возможности и логику.</li>
<li>Кубики вносят элемент рандома в повествование, после броска всё может пойти не так, как задумывалось. Будьте готовы, что всё может пойти не по плану, но любая ситуация ведет к развитию сюжета.</li>
</ul>
<p>Любая часть правил может быть изменена, удалена или добавлена новая и в любом случае вы получите свой собственный уникальный игровой опыт.</p>
<p>Вдохновись, Настрой, Играй!</p>
<p><strong>Codex of Heroes</strong> основана на базе <strong>Codex of…</strong> и предлагает играть за персонажей героев. Тех, кому большинство действий даётся легко, в отличии от простых смертных.</p>