<!-- partials/heroes1.html -->
<div class="content-block">
    <h2>Введение</h2>
    <p>Codex of… представляет из себя систему-конструктор с влиянием контекста и нарратива. Повествование в процессе любой игровой сессии разделено между ведущим, игроками и кубиками.</p>
    <ul>
        <li>Ведущий имеет какую-либо идею, возможно даже какой-то план или тактику на игру и предоставляет ситуации игрокам.</li>
        <li>Игроки вольны решать предоставленную ситуацию при помощи своих персонажей так, как сочтут необходимым, опираясь на отыгрыш персонажей, их возможности и логику.</li>
		<li>Кубики вносят элемент рандома в повествование, после броска всё может пойти не так, как задумывалось. Будьте готовы, что всё может пойти не по плану, но любая ситуация ведет к развитию сюжета.</li>
    </ul>
	<p>Любая часть правил может быть изменена, удалена или добавлена новая и в любом случае вы получите свой собственный уникальный игровой опыт.
Вдохновись, Настрой, Играй!
Codex of Heroes основана на базе Codex of… и предлагает играть за персонажей героев. Тех, кому большинство действий даётся легко, в отличии от простых смертных.</p>
</div>