<h2>Игровые кости</h2>


<p>В системе <strong>Codex of Heroes</strong> и любым другим производным механик <strong>Codex of…</strong> используются только шестигранные игровые кости, далее в правилах мы будем обозначать их как <strong>D6</strong>. Их возможно найти практически в любом магазине, киоске или на торговых площадках, что увеличивает их доступность. На каждого игрока будет приходиться в среднем <strong>9D6</strong>, что покроет большинство необходимого запаса.</p>
<p><strong>D6</strong> будут использоваться во множестве ситуаций, где есть риск, что персонаж не справится. Попал ли клинок по оппоненту или был парирован? Смог ли хакер расшифровать данные на флешке? Поверила ли стража доводам вашего вора? Смог персонаж перепрыгнуть пропасть или упал в бушующий поток? Успел персонаж отпрыгнуть от взрыва гранаты? Во всех случаях, когда исход действия рискован и/или неизвестен необходимо будет использовать бросок <strong>D6</strong>.</p>
<p>Насколько просто или легко совершить то или иное действие определяют пять подготовок персонажа: Конфликт, Передвижение, Образование, Смекалка и Влияние. Для большинства героев подготовки варьируются от <strong>одного (1)</strong> до <strong>трех (3)</strong>, но чудовища, роботы, инопланетяне и прочие неигровые расы могут иметь значения от <strong>нуля (0)</strong> до сверхвысоких <strong>пяти (5)</strong> или иметь изменённую механику. Подготовки являются основой для броска <strong>D6</strong> на любые действия, в зависимости от контекста ситуации.</p>
<p>Логика действия с D6 очень простая:</p>
<p><strong>Бросьте несколько D6</strong> → <strong>Взаимоисключите значения успеха и значения провалов</strong> → <strong>Примените ситуативные усложнения или упрощения</strong>  → <strong>Получите результат</strong>.</p>
<h3>Значения успеха (LV)</h3>


<p>Это диапазон значений, который необходимо получить на <strong>D6</strong>. Он может варьироваться от <strong>одного (1)</strong> до <strong>пяти (5)</strong> значений и всегда задаётся Подготовкой персонажа, которая используется в контексте броска. Приведем таблицу с уровнями <strong>подготовок</strong> и релевантными для них <strong>значениями успеха</strong>.</p>
<table>
  <tr>
   <td>lvl
   </td>
   <td>LV
   </td>
   <td colspan="9" >Примечание
   </td>
  </tr>
  <tr>
   <td>0
   </td>
   <td>6+
   </td>
   <td colspan="9" >Сколько бы LV вы не выбросили, персонаж может рассчитывать максимум на безусловный успех, критический ему недоступен.
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td>6+
   </td>
   <td rowspan="2" colspan="9" >Это вполне нормальный уровень подготовки для большинства начинающих специалистов в игровом мире.
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td>5+
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td>4+
   </td>
   <td rowspan="2" colspan="9" >В данном случае персонаж превосходит большинство других в выбранной подготовке, например как мастер спорта.
   </td>
  </tr>
  <tr>
   <td>4
   </td>
   <td>3+
   </td>
  </tr>
  <tr>
   <td>5
   </td>
   <td>2+
   </td>
   <td colspan="9" >Персонаж достиг предела возможностей смертных и почти никто не сможет с ним тягаться.
   </td>
  </tr>
  <tr>
   <td>Extra
   </td>
   <td>2+
   </td>
   <td colspan="9" >Этот уровень подготовки за гранью возможностей простых смертных. Единицы перестают быть FV и становятся просто пустыми значениями.
   </td>
  </tr>
</table>


<p>Как следует из таблицы и текста выше, <strong>LV</strong> может быть не одним значением, а целым диапазоном. Соответственно, если вы видите значение <strong>6</strong>, значит <strong>LV</strong> считаются только <strong>6</strong>. Но, когда вы видите после значения знак <strong>+</strong>, значения от указанного числа и выше будут являть <strong>LV</strong>. Например при <strong>четвертом (4)</strong> уровне <strong>подготовки</strong> значения от <strong>трех (3)</strong> и выше (<strong>4</strong>, <strong>5</strong> и <strong>6</strong>) будут являться <strong>LV</strong>.</p>
<h3>Значения провала (FV)</h3>


<p>Значениями провала на любых <strong>D6</strong> являются <strong>единицы (1)</strong>. Когда вы бросаете кубики при действии, выпавшие <strong>FV</strong> взаимно уничтожаются с значениями <strong>LV</strong>, вычитая друг друга из результата броска. Это всегда оставляет вероятность, что у персонажа не получится действие или даже с треском провалится.</p>
<h3>Типы D6</h3>


<p>Хотя в <strong>Codex of…</strong> присутствуют только <strong>D6</strong>, но существует несколько типов. По механике броска они никак не различаются, но от них зависит, сколько действий за свой ход сможет совершить персонаж и сколько <strong>D6</strong> одновременно он сможет бросить на действие.</p>
<h4>Эфирное время (AD6)</h4>


<p>Тот самый спотлайт, эфирное время (airtime) персонажа, отпущенное ему для совершения действия за один ход. Они есть у персонажа в каждый его ход и их количество всегда равно <strong>четырем</strong> (<strong>4AD6</strong>). Каждый раз, когда персонаж должен совершить действие, используется минимум <strong>1AD6</strong>.</p>
<h4>Кубики навыков (SD6)</h4>


<p>Механически большинство навыков предоставляет персонажу дополнительные <strong>SD6 </strong>(если не сказано иного) каждый ход для действия, связанного с этим направлением. Количество <strong>SD6</strong> всегда зависит от уровня навыка напрямую. К примеру, если навык медицина равен трем (3), у персонажа каждый ход дополнительно есть возможность использовать <strong>3SD6</strong> для действия с медициной. Но для одного действия всегда применяется только один навык, нельзя на одно действие применить <strong>SD6</strong> сразу и от медицины и, к примеру, от кибернетики.</p>