<h2>Действия</h2>


<p>При каждом действии персонажа тратятся его D6. При этом всегда используется минимум <strong>1AD6</strong>, а остальные можно использовать из доступных оставшихся <strong>AD6</strong> или <strong>SD6</strong>. Для совершения действия <strong>кубики</strong> можно бросать или “сжигать”. Вариант зависит от контекста ситуации и обычно всегда понятен.</p>
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-nrix" colspan="3"><span style="font-weight:normal">Сжигаем D6</span></th>
    <th class="tg-nrix" colspan="3"><span style="font-weight:normal">Бросаем D6</span></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Передвижение</span></td>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Боевое столкновение</span></td>
  </tr>
  <tr>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Повседневные действия</span></td>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Социальный конфликт</span></td>
  </tr>
  <tr>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Нет ограничений по времени</span></td>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Крафт</span></td>
  </tr>
  <tr>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Нет внешних факторов</span></td>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Стелс</span></td>
  </tr>
  <tr>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Иные обыденные и повседневные ситуации</span></td>
    <td class="tg-nrix" colspan="3"><span style="font-weight:normal">Иные напряженные сцены и с неизвестным исходом</span></td>
  </tr>
</tbody></table>


<br> <!-- Пустая строка -->

<ul>
<li><strong>Сжечь D6</strong> — вы просто убираете на текущий ход необходимое количество <strong>D6</strong> из пула своих кубиков. При сжигании кубиков не работают LV и FV т.к. это действие, в котором сложно ошибиться, но крайне сложно сделать что-то выдающееся.</li>
<li><strong>Бросок D6</strong> — персонаж бросает желаемое/необходимое количество <strong>D6</strong> и следуете логике <strong>Бросьте несколько D6</strong> → <strong>Взаимоисключите значения успеха и значения провалов</strong> → <strong>Примените ситуативные усложнения или упрощения</strong>  → <strong>Получите результат</strong>.</li>
</ul>
<p><p>Опциональное правило</p>
<p>Ведущий может назначить различные требования к минимальному количеству <strong>AD6</strong> для совершения действия. Это правило можно использовать в случае, когда вы желаете привнести в игру больше менеджмента кубиков. Здесь все понятно и просто, так что каждый сам сможет определить, сколько в минимуме вам необходимо кубиков.</p>
<table>
  <tr>
   <td colspan="2" >Объём действия
   </td>
   <td colspan="5" >Описание
   </td>
   <td colspan="2" >Затраты D6 (min)
   </td>
  </tr>
  <tr>
   <td rowspan="4" colspan="2" >Моментальное действие
   </td>
   <td rowspan="4" colspan="5" >Моментальное действие, как сделать шаг, выронить предмет, отшатнуться и т.д. Действия в моменте, почти не тратящие времени сами по себе.
   </td>
   <td rowspan="4" colspan="2" >Сжигание 1D6
   </td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
   <td rowspan="4" colspan="2" >Быстрое действие
   </td>
   <td rowspan="4" colspan="5" >Персонаж совершает какое-то короткое действие, которое почти не требует времени: бросить короткую фразу в 1-2 слова “Вставай! Быстрее!”, сделать шаг в сторону, бросить взгляд на предмет или человека и иные короткие и даже мимолетные действия.
   </td>
   <td rowspan="4" colspan="2" >2D6
   </td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
   <td rowspan="4" colspan="2" >Длительное действие
   </td>
   <td rowspan="4" colspan="5" >Действие требующее определенного времени для совершения в рамках одного хода персонажа: пройти некоторое расстояние (не шаг), сказать предложение в несколько слов (около 3-6), рассмотреть предмет или человека и прочие действия, занимающие некоторое время.
   </td>
   <td rowspan="4" colspan="2" >3D6
   </td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
   <td rowspan="4" colspan="2" >Комплексное действие
   </td>
   <td rowspan="4" colspan="5" >Действия не оставляющие персонажу времени на какие-либо иные действия: пробежка, длинная исчерпывающая речь (не книга, но пост в соцсети), провести осмотр стола или маленькой комнаты и им подобные
   </td>
   <td rowspan="4" colspan="2" >4D6
   </td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
</table>

<br> <!-- Пустая строка -->
<h3>Сложность действий</h3>


<p>Обычно посмотрев на Подготовки персонажа вы уже знаете, какие LV вам необходимо выбросить для успешности действий. Также вы уже ознакомились с FV, которые усложняют жизнь персонажу. Но ведущий всегда может увеличить сложность, исходя из контекста ситуации. Особая конструкция замка. Неизвестная фехтовальная школа противника. Стойкие убеждения в правоте оппонента. Контекст всегда может увеличить сложность добавив дополнительные <strong>FV</strong> к броску. Но также он может и упростить персонажу действие. Замок известно конструкции, вскрытый неоднократно. Противник, с которым персонажи сражаются уже не первый раз. Неуверенность оппонента в своих убеждениях. Упрощение автоматически уменьшает любые <strong>FV</strong> или увеличивает диапазон <strong>LV</strong> на бросаемых <strong>D6</strong>.</p>
<table>
  <tr>
   <td colspan="2" >Изменение сложности
   </td>
   <td colspan="2" >Изменения
   </td>
   <td colspan="5" >Пример
   </td>
  </tr>
  <tr>
   <td colspan="2" >Крайне просто
   </td>
   <td colspan="2" >LV—2 или –3FV
   </td>
   <td colspan="5" >Цель связана, статичная мишень в упор и иные
   </td>
  </tr>
  <tr>
   <td colspan="2" >Легче обычного
   </td>
   <td colspan="2" >LV—1 или –2FV
   </td>
   <td colspan="5" >Цель полностью расслаблена, щеколда вместо замка
   </td>
  </tr>
  <tr>
   <td colspan="2" >Немного легче
   </td>
   <td colspan="2" >–1FV
   </td>
   <td colspan="5" >Есть схема устройства, кто-то помогает, где-то слышал
   </td>
  </tr>
  <tr>
   <td colspan="2" >Обычно
   </td>
   <td colspan="2" >Согласно подготовке
   </td>
   <td colspan="5" >Стандартное действие
   </td>
  </tr>
  <tr>
   <td colspan="2" >Чуть сложнее
   </td>
   <td colspan="2" >+1FV
   </td>
   <td colspan="5" >Измененный механизм, незнакомый стиль боя, атаковать противника
   </td>
  </tr>
  <tr>
   <td colspan="2" >Сложнее обычного
   </td>
   <td colspan="2" >+2FV
   </td>
   <td colspan="5" >Незнакомый механизм, неизвестный язык, цель за кучей препятствий
   </td>
  </tr>
  <tr>
   <td colspan="2" >Очень сложно
   </td>
   <td colspan="2" >+3FV
   </td>
   <td colspan="5" >Неизвестная технология, почти ничего не видно, связан
   </td>
  </tr>
</table>

<br> <!-- Пустая строка -->
<p>Ведущий может увеличить или уменьшить сложность в зависимости от ситуации. Игрок, в свою очередь, тоже может заявить изменение сложности, если увидел контекст ситуации, но за ведущим остается право вето на изменения от игрока.</p>

<br> <!-- Пустая строка -->
<h3>Успешность действий</h3>


<p>Существует несколько градаций успешности действий персонажа, они варьируются от очень плохих до великолепных, но они всегда одинаковы, так что вы не перепутаете. Важно помнить, что учитываются только чистые <strong>LV</strong> и <strong>FV</strong>, оставшиеся после всех подсчетов.</p>

<br> <!-- Пустая строка -->
<h4>Критические успехи</h4>


<p>Когда персонаж при броске <strong>D6</strong> получает больше, чем <strong>2 LV</strong>, это расценивается как критический успех. В такой ситуации персонаж получает какой-либо бонус, который действительно окажет влияние на его действие.</p>
<ul>
<li><strong>3 LV</strong> — Персонаж смог занять более выгодную позицию для следующего удара, не оставил следов при взломе замка, обнаружил, что зелье обладает дополнительным небольшим эффектом, и получил другие мелкие бонусы;</li>
<li><strong>4 LV</strong> — Персонаж выполнил действие значительно лучше, чем планировал. Эффект может усилиться в два раза. Пара незначительных NPC пали от одного удара. Создаваемое зелье оказывается получило дополнительный эффект и многое другое;</li>
<li><strong>5 и более LV</strong> — это уже невероятный успех, и персонаж сильно удачлив. Бросивший кубики сам сообщает, что произошло в данном случае, ведущий только корректирует. Удар попал в щель доспеха, игнорируя его. Лечение убрало шрамы и восстановило буферы персонажа. Оппонент не может собраться с мыслями и ответить на вашу речь. Дайте волю своему воображению.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Безусловный успех</h4>


<p>В данном случае действие персонажа удалось в полной мере как задумывалось, без недостатков, условностей и прочих переменных. Но для такого требуется выбросить на кубиках <strong>2 LV</strong>.</p>
<h4>Условный Успех</h4>


<p>Все довольно просто: если при броске D6 и всех подсчетов остается только <strong>1 LV </strong>или не выкинули совсем — это условный успех. Действие все ещё считается успешным, но персонаж не рассчитал ситуацию и ситуация оказалась не такой уж и хорошей — персонаж получает неприятное последствие своего действия. Он может выронить оружие из рук. Перепутать термины или имена в речи, что даст упрощение его оппоненту. Оставить обломок отмычки в уже взломанном замке. Игрок предлагает вариант самостоятельно, но ведущий может не принять его или сообщить свой вариант неприятного последствия.</p>

<br> <!-- Пустая строка -->
<h4>Провал</h4>


<p>Когда при броске после всех вычетов <strong>LV</strong> и <strong>FV</strong> остались только <strong>FV</strong> — это провал. Действие пошло совершенно не по плану и влечёт за собой нежелательные последствия. Провал всегда описывает ведущий. В зависимости от количества выпавших <strong>FV</strong> мы предлагаем следующие последствия:</p>
<ul>
<li><strong>1</strong> — персонаж оказался в невыгодной ситуации, подставился под следующий удар, сломал отмычку, издал лишний шум и многое другое.</li>
<li><strong>2</strong> — персонаж провалил бросок и вместо ожидаемого действия совершил противоположное. Выронил оружие от удара. Заклинил замок, который пытался вскрыть. В результате ремонта предмета он только усугубил поломку. При попытке лечения раны началось сильное кровотечение. И иные проблемы.</li>
<li><strong>3 и более</strong> — сокрушительный провал. Персонажу крайне не повезло. Ведущий сам придумывает, что происходит в данном случае, вплоть до поломки оружия, падения в бессознательное состояние, взрыва зелья и многое другое. Только никаких фраз вроде “Персонаж умер”, если это не ситуация, когда он тонет в лаве и не успел схватить спасительную веревку, или подобных случаев.</li>
</ul>
<p>В любой ситуации, чтобы не выкинули игроки — соблюдайте развитие сюжета. Даже самый страшный провал может привести персонажей в новое место, которое они бы не нашли или нашли очень не скоро. Вместо поиска пещеры короля гоблинов, их туда привели, но уже как пленников, что накладывает свои сложности.</p>

<br> <!-- Пустая строка -->
<h4>Гарантированный LV</h4>


<p>Когда вы желаете достичь гарантированного успеха персонажа или ведущий сообщает, что можно его получить — у вас есть такая возможность. Для гарантированного успеха вы должны сжечь определенное количество <strong>D6</strong>, минимум <strong>1AD6</strong>, остальные откуда угодно. Количество сжигаемых <strong>D6</strong> зависит от уровня <strong>Подготовки</strong>, которой будет совершаться действие. Для этого взгляните на таблицу и всё поймете, в ней указано, сколько <strong>D6</strong> надо сжечь, чтобы получить <strong>1 LV</strong>.</p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-60f9{background-color:#26A69A;text-align:center;vertical-align:top}
.tg .tg-7yig{background-color:#FFF;text-align:center;vertical-align:top}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-60f9" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Объём действия</span></th>
    <th class="tg-60f9" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Описание</span></th>
    <th class="tg-60f9" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Затраты D6 (min)</span></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Моментальное действие</span></td>
    <td class="tg-7yig" colspan="5" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Моментальное действие, как сделать шаг, выронить предмет, отшатнуться и т.д. Действия в моменте, почти не тратящие времени сами по себе.</span></td>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Сжигание 1D6</span></td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Быстрое действие</span></td>
    <td class="tg-7yig" colspan="5" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Персонаж совершает какое-то короткое действие, которое почти не требует времени: бросить короткую фразу в 1-2 слова “Вставай! Быстрее!”, сделать шаг в сторону, бросить взгляд на предмет или человека и иные короткие и даже мимолетные действия.</span></td>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2D6</span></td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Длительное действие</span></td>
    <td class="tg-7yig" colspan="5" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Действие требующее определенного времени для совершения в рамках одного хода персонажа: пройти некоторое расстояние (не шаг), сказать предложение в несколько слов (около 3-6), рассмотреть предмет или человека и прочие действия, занимающие некоторое время.</span></td>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">3D6</span></td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Комплексное действие</span></td>
    <td class="tg-7yig" colspan="5" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Действия не оставляющие персонажу времени на какие-либо иные действия: пробежка, длинная исчерпывающая речь (не книга, но пост в соцсети), провести осмотр стола или маленькой комнаты и им подобные</span></td>
    <td class="tg-7yig" colspan="2" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">4D6</span></td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
</tbody></table>

<br> <!-- Пустая строка -->
<p>Математически это считается очень просто — отнимите от <strong>семи (7)</strong> уровень <strong>Подготовки</strong>, с помощью которой будет совершаться действие, и получите результат. который будет означать, сколько <strong>D6</strong> вам необходимо сжечь для достижения гарантированного <strong>1 LV</strong>. Покупая <strong>LV</strong> таким способом персонаж может получить только условный или безусловный успех.</p>
<p><p>Примечание</p>
<p>Не воспринимайте выпавшие провалы как нечто просто плохое, что случилось с персонажем. Любой результат, полученный при броске, продвигает историю и сюжет в каком-то направлении. Да, не обязательно в ту сторону, которую желали и ожидали. Интерпретируйте результат интересно. Например: вместо “нанёс меньше урона” примените “выронил меч” и вот, это не просто статичная ситуация с цифрами урона, а задача персонажа вернуть потерянное оружие или сделать что-то иное. Это всегда смещение истории в какую-то сторону.</p>
<p><p>Опциональное правило</p>
<p>Если вы желаете усложнить игровой процесс, используйте <strong>правило соответствия</strong>, накладывая дополнительные <strong>FV</strong>.</p>
<ul>
<li><strong>2 FV</strong> — используется категорически не подходящую подготовку и/или отсутствует навык;</li>
<li><strong>1 FV</strong> — используется подготовка или описание, которые не совсем контекстуально подходят для ситуации и/или нет навыка;</li>
</ul>
<p><strong>0 FV</strong> — все используемые элементы подходят.</p>

<br> <!-- Пустая строка -->
<h3>Коллективное действие</h3>


<p>Периодически ваши персонажи захотят совершать коллективные действия, как вместе выбить дверь, уговорить кого нибудь или дать концерт группой музыкантов. В данном случае действуют следующие условия:</p>
<ul>
<li><strong>Общий навык —</strong> все в коллективной проверке должны иметь нужный <strong>одинаковый</strong> по названию или смыслу навык. Невозможно взламывать замок и одновременно выбивать эту же дверь;</li>
<li><strong>Минимальная подготовка —</strong> действие совершается по самой низкой подготовке среди участников проверки;</li>
<li><strong>Гарантированный успех Х2 — </strong>коллективное действие производится только по правилу гарантированного успеха, но надо сжечь.</li>
<li><strong>Лидер — </strong>лидер проверки с наибольшей подготовкой или навыком может использовать <strong>основные D6</strong> и от <strong>навыка</strong>, остальные только от <strong>навыка</strong>.</li>
<li><strong>Доступ</strong> — все персонажи, желающие участвовать в действии, должны иметь доступ к процессу. Если какому то персонажу не хватает места, чтобы разбирать завал, он не сможет участвовать в коллективном действии.</li>
</ul>
<p>И помните, что коллективное действие считается невозможным, если всем участвующим в проверке не хватает <strong>D6</strong> для <strong>покупки успехов</strong>. Покупка происходит по аналогии с правилами <strong>Гарантированного успеха</strong>, покупая <strong>один (1)</strong>, для условного успеха, или <strong>два (2)</strong> <strong>LV</strong>, для безусловного успеха.</p>
<p><p>Пример</p>
<p><em>Группа из трёх персонажей, путь преграждает упавший камень. Чтобы убрать камень вы хотите использовать подготовку “__</em>Подвижность”<strong><em>, ведь вы не конфликтуете с камнем, ему всё равно.  У персонажа </em></strong>Z<strong><em> она равна </em></strong>трём (3)<strong><em>, а у персонаже </em></strong>X<strong><em> и </em></strong>Y<strong><em> только </em></strong>двум (2)<strong><em>. У всех есть навык </em></strong>Сила<strong><em>, но у персонажа </em></strong>Z<strong><em> он равен </em></strong>трём (3)<strong><em>, а у двух других, персонажей </em></strong>X<strong><em> и </em></strong>Y<strong><em>, он равен </em></strong>двум (2)<strong><em>. Соответственно лидером проверки назначают персонажа </em></strong>Z__.</p>
<p>_Согласно формуле, для получения хотя бы <strong>одного (1)</strong> гарантированного <strong>LV</strong> необходимо потратить <strong>5D6</strong>, а для безусловного успеха целых <strong>10D6</strong>, ведь мы судим по наименьшей Подготовке, что у персонажей <strong><em>X</em></strong> и <strong><em>Y</em></strong> равна <strong><em>двум (2)</em></strong>._</p>
<p><em>В общей сумме они имеют <strong>11D6</strong>:</em></p>
<ul>
<li>_Персонаж <strong><em>Z</em></strong> имеет <strong><em>3SD6</em></strong> и <strong><em>4AD6</em></strong> как <strong><em>лидер действия</em></strong>;_</li>
<li>_Персонажи <strong><em>X</em></strong> и <strong><em>Y</em></strong> имеют по <strong><em>2SD6</em></strong> от <strong><em>навыка</em></strong>._</li>
</ul>
<p><em>В итоге они получают безусловный успех, всё хорошо.</em></p>