<h2>Сцена</h2>


<p>Это отдельный эпизод или часть игрового сеанса, которая представляет собой законченный фрагмент повествования. Сцена может быть сравнима с эпизодом в фильме или главой в книге: она имеет начало, развитие и завершение, а также служит для продвижения сюжета, развития персонажей или решения конкретных задач.</p>
<p>Рамки времени для сцены строго не определены, но это непрерывный временной промежуток, в течение которого персонажи находятся в одной локации, занимаются одним делом или решают одну задачу. Это может быть как несколько минут, так и несколько часов игрового времени. Сцена начинается, когда персонажи переходят к новому действию или локации, а заканчивается, когда действие завершено, локация изменена или происходит значительный временной скачок.</p>

<br> <!-- Пустая строка -->
<h3>Типы сцен</h3>


<p>Сцены разделяются по своему контексту на несколько типов:</p>
<ul>
<li><strong>Конфликт</strong> — эпизод, в котором персонажи участвуют в сражении или конфликте. Обычно это один из самых динамичных и напряженных типов сцен, но совершенно не обязательно.</li>
<li><strong>Цель</strong> — победить в конфликте, как например разбить отряд гоблинов или довести оппонента в споре до выхода из него;</li>
<li><strong>Диалог</strong> — в данном контексте персонажи взаимодействуют с NPC (неигровыми персонажами) или друг с другом через разговоры, добиваются своих целей в основном через социальное взаимодействие.</li>
<li><strong>Цель</strong> — убедить NPC ил персонажа игрока, а иногда и своего заключить сделку, союз, выполнить действие и многое иное;</li>
<li><strong>Исследование</strong> — здесь персонажи изучают локацию, ищут подсказки, предметы, разгадывают загадки и многое другое, что в первую очередь подразумевает взаимодействие с миром.</li>
<li><strong>Цель</strong> — изучить локацию, найти улики, разгадать загадку и любой иной исход, который требуется от мира игры.</li>
</ul>

<br> <!-- Пустая строка -->
<h3>Очередность хода</h3>


<p>Когда вам требуется четко определить очередность, по которой игроки и ведущий будут совершать действия, используйте правила очередности хода. Это строгая очередность, которую можно определить несколькими способами:</p>
<ul>
<li><strong>По кругу</strong> — начиная с ведущего, по часовой стрелке или против, все делают свои заявки на действия, бросают или сжигают кубики, разговаривают и прочее.</li>
<li><strong>Инициатива</strong> — каждый игрок и ведущий тратят от <strong>одного (1)</strong> до <strong>трех (3)</strong> AD6 персонажа. Согласно сумме выпавших значений, от большего к меньшему, совершают действия персонажей. При этом брошенные на инициативу <strong>AD6</strong> считается уже потраченным на ближайший ход персонажа.</li>
<li><strong>Одинаковые значения</strong> — если одинаковые значения инициативы выпали у NPC и игрока, игрок ходит первее. Если NPC является боссом или ключевым персонажем ведущего, тогда первым ходит NPC. Когда такое происходит у нескольких игроков, тогда первым ходит самый крайний по правую руку.</li>
<li><strong>Большие группы</strong> — если в сцене участвует несколько крупных групп, включая персонажей игроков, инициатива бросается одним персонажем за всю группу, к которой он принадлежит.</li>
</ul>