<h2>Игровое поле</h2>


<p>Мы совершенно не против того, чтобы игры проходили в “чертогах разума” или на поле с секторами, по аналогии с <strong>Fate</strong>. Но в случае, если вам необходима детализация — используйте гексагональное поле, оно отлично подходит. Для большинства игр подойдёт 20Х30 гексов. Его можно купить отдельно от другой игры, заказать в типографии или даже распечатать на принтере дома.</p>

<br> <!-- Пустая строка -->
<h3>Категории размеров</h3>


<p>У каждого объекта в игре есть свой размер и это значимая геймплейная механика — она влияет на взаимодействие персонажей друг с другом.</p>
<p><strong>Размер</strong> — это не просто рост или вес, а целый комплекс значений, которые неудобно считать по отдельности, но надо как-то описать. Это физическая значимость существа во всех его данных, указывающих на габариты. Например, байк визуально меньше, чем конь (обычно), но может весить больше, а значит оба объекта, конь и байк, будут считаться примерно одного размера (погрешности не учитываем).</p>
<p><strong>ВАЖНО!!!</strong> Все целые объекты огромных размеров, как здания, Титаны и прочие, по которым персонажи могут перемещаться — не надо учитывать. Обвалившееся здание завалит <strong>или</strong> убьет персонажа, который не смог убежать, как и наступивший  на него же великан. Да, персонаж может выбраться из-под завала, великан может промахнуться, а тот же танк просто будет обездвижен завалом и иметь не критичные повреждения. В работе с настолько большими объектами пользуйтесь логикой вашей игры и тем, как вы ее воспринимаете. Супергерою это будет кратковременная помеха, а обычного клерка <strong>может</strong> раздавить.</p>
<table>
  <tr>
   <td>№
   </td>
   <td colspan="2" >Наименование
   </td>
   <td colspan="8" >Примеры объектов
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td colspan="2" >Незначительные
   </td>
   <td colspan="8" >Различные насекомые и иные объекты, чей размер уже не важен.
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td colspan="2" >Мелкие
   </td>
   <td colspan="8" >Мелкие существа, как крысы, змеи, большие насекомые и прочие действительно мелкие существа.
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td colspan="2" >Небольшие
   </td>
   <td colspan="8" >Карликовые, по отношению к обычной группе, существа. Карлики, гоблины, полурослики, собаки, кошки и иные.
   </td>
  </tr>
  <tr>
   <td>4
   </td>
   <td colspan="2" >Обычные
   </td>
   <td colspan="8" >От невысоких людей до двухметровых орков. В общей сумме данная категория включает тех существ, за которых вы будете играть в большинстве случаев.
   </td>
  </tr>
  <tr>
   <td>5
   </td>
   <td colspan="2" >Большие
   </td>
   <td colspan="8" >Здесь уже категорически бОльшие существа, как лошадь, лев. А также транспортные средства как мотоцикл и прочие “на грани” категории.
   </td>
  </tr>
  <tr>
   <td>6
   </td>
   <td colspan="2" >Огромные
   </td>
   <td colspan="8" >Автомобили, микроавтобусы, грузовики, крупные медведи, лоси, огры и вся огромная хреновина!
   </td>
  </tr>
  <tr>
   <td>7
   </td>
   <td colspan="2" >Громадные
   </td>
   <td colspan="8" >Танк, БТР, грузовик, современный истребитель и всё то, для чего человек уже ТОЧНО не препятствие.
   </td>
  </tr>
</table>

<br> <!-- Пустая строка -->
<h3>Размещение объектов на поле</h3>


<p>Каждый объект занимает своё количество гексов на поле, а некоторые объекты могут находиться целой группой на одном гексе. Например, какие-нибудь мелкие существа. Здесь мы приведем таблицу с нумерацией размеров, сколько гексов они занимают на поле и занимают ли вообще, а также некоторые пояснения из наших соображений.</p>
<table>
  <tr>
   <td>№
   </td>
   <td colspan="2" >Наименование
   </td>
   <td colspan="2" >Занимаемое пространство
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td colspan="2" >Незначительные
   </td>
   <td colspan="2" >Множество в 1 гексе
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td colspan="2" >Мелкие
   </td>
   <td colspan="2" >5 в одном гексе
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td colspan="2" >Небольшие
   </td>
   <td colspan="2" >2-3 в одном гексе
   </td>
  </tr>
  <tr>
   <td>4
   </td>
   <td colspan="2" >Обычные
   </td>
   <td colspan="2" >1 гекс
   </td>
  </tr>
  <tr>
   <td>5
   </td>
   <td colspan="2" >Большие
   </td>
   <td colspan="2" >2–3 гексов
   </td>
  </tr>
  <tr>
   <td>6
   </td>
   <td colspan="2" >Огромные
   </td>
   <td colspan="2" >4–6 гексов
   </td>
  </tr>
  <tr>
   <td>7
   </td>
   <td colspan="2" >Громадные
   </td>
   <td colspan="2" >7–10 гексов
   </td>
  </tr>
</table>


<p>Это примерное количество занимаемого объектом объёма. В вашей игре эти числа могут отличаться, например большая змея (небольшая анаконда или подобная) развернувшись в длину явно будет занимать больше трех гексов в длину, но останется в категории <strong>Больших</strong> существ.</p>