<h2>Персонажи</h2>



<p><img src="images/image2.png" alt="alt_text" title="image_tooltip"></p>
<p>Персонажем может быть не только живой, во всех пониманиях, объект, которого создал игрок. Беспокойный призрак, робот, дух, инопланетянин и многие другие тоже являются персонажами. Его определяет не “Живой он или нет?”, а возможность самостоятельно действовать, принимать решения, нести ответственность за совершенное и желательно отдавать себе отчет в совершенном.</p>
<p>Любой персонаж в игре состоит из набора механик, которые описывают его механически, отличают от других персонажей, определяют принадлежность к какой-либо группе и многое другое. Персонаж является интерфейсом, аватаром игрока или ведущего, через который они взаимодействуют с игровым миром.</p>

<br> <!-- Пустая строка -->
<h3>Подготовки персонажа</h3>


<p>Определяют то, насколько персонаж подготовлен к тому или иному виду действий, и упрощают их. Подготовка заранее задает диапазон <strong>LV</strong>, которые надо выбросить на <strong>D6</strong> при броске. Здесь мы повторим таблицу, которая была в Значениях успеха:</p>
<table>
  <tr>
   <td>lvl
   </td>
   <td>LV
   </td>
   <td colspan="9" >Примечание
   </td>
  </tr>
  <tr>
   <td>0
   </td>
   <td>6+
   </td>
   <td colspan="9" >Сколько бы LV вы не выбросили, персонаж может рассчитывать максимум на безусловный успех, критический ему недоступен.
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td>6+
   </td>
   <td rowspan="2" colspan="9" >Это вполне нормальный уровень подготовки для большинства начинающих специалистов в игровом мире.
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td>5+
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td>4+
   </td>
   <td rowspan="2" colspan="9" >В данном случае персонаж превосходит большинство других в выбранной подготовке, например как мастер спорта.
   </td>
  </tr>
  <tr>
   <td>4
   </td>
   <td>3+
   </td>
  </tr>
  <tr>
   <td>5
   </td>
   <td>2+
   </td>
   <td colspan="9" >Персонаж достиг предела возможностей смертных и почти никто не сможет с ним тягаться.
   </td>
  </tr>
  <tr>
   <td>Extra
   </td>
   <td>2+
   </td>
   <td colspan="9" >Этот уровень подготовки за гранью возможностей простых смертных. Единицы перестают быть FV и становятся просто пустыми значениями.
   </td>
  </tr>
</table>



<br> <!-- Пустая строка -->
<ul>
<li><strong>Конфликт (КОН)</strong> — определяет уровень подготовки персонажа к конфликтным ситуациям в общей сумме, так и сражению, перестрелке, агрессивным переговорам и т.д. в частности.</li>
<li><strong>Передвижение (ПЕР)</strong> — общая подготовка персонажа преодолевать препятствия на пути и скоординировано двигаться.</li>
<li><strong>Образование (ОБР)</strong> — общая академическая подготовка персонажа (НЕ ИНТЕЛЛЕКТ) и углубленные общие знания о мире.</li>
<li><strong>Смекалка (СМЕ)</strong> — гибкость мышления персонажа, способность находить нестандартные решения, декомпилировать ситуацию и понимать неизвестное.</li>
<li><strong>Общение (ОБЩ)</strong> — эмпатия, подвешенный язык и способность найти нужные слова в нужный момент и манипуляция мнением.</li>
</ul>
<p>Подготовок всегда <strong>пять (5)</strong> и каждая может иметь уровень от <strong>нуля (0)</strong> до <strong>пяти (5)</strong>.</p>
<p><strong>ВАЖНО!!!</strong> Если вы решили модифицировать количество и уровни подготовок для совей игры — ничего не сломается (не должно…), но готовьтесь, что игроки могут запутаться в объеме информации. И обязательно предупредите о нововведениях своих игроков ДО начала игры.</p>

<br> <!-- Пустая строка -->
<h3>Навыки</h3>


<p>Это компетенции, скилы (skills) персонажа в какой либо области, как механика, программирование, медицина, фехтование и многие другие. Некоторые навыки невозможно применить без хотя бы одного уровня развития, например медицина или программирование, но это понятно из названия и всегда логично. </p>
<p><p>Примеры навыков</p>
<ul>
<li><strong>Телосложение</strong> — каждый уровень дает дополнительную ячейку буфера физического урона.</li>
<li><strong>Ношение брони</strong> — дает носимой броне дополнительные ячейки на уровень навыка.</li>
<li><strong>Борьба</strong> — навык персонаж в выполнении захватов, бросков противника и прочих действий.</li>
<li><strong>Тяжелое оружие</strong> — навык вести бой тяжелым оружием и иными предметами.</li>
<li><strong>Скорость</strong> — способность персонажа передвигаться быстрее и дальше.</li>
<li><strong>Метание</strong> — навык точно метать предметы и использовать метательное оружие.</li>
<li><strong>Уклонение</strong> — навык уклоняться от ударов и выстрелов.</li>
<li><strong>Фехтование</strong> — владение легким и фехтовальным оружием и парирования ударов.</li>
<li><strong>Легкое стрелковое</strong> — обращение персонажа с легким ручным стрелковым оружием.</li>
<li><strong>Внимание</strong> — навык подчеркивать детали окружающей среды, искать объекты и общее внимание персонажа.</li>
<li><strong>Сила воли</strong> — каждый пункт дает дополнительную ячейку буфера ментального урона.</li>
<li><strong>Медицина</strong> — навык оказания другим медицинской помощи от перевязки до хирургических операций.</li>
<li><strong>Убеждение</strong> — способность привести доводы и конкретику в ясной и доступной форме.</li>
<li><strong>Обман</strong> — искусство обмануть кого-либо, запудрить мозги, а самое главное помнить, что вы говорили ранее.</li>
<li><strong>Запугивание</strong> — знание страхов и привязанностей большинства разумных и правильное их использование.</li>
<li><strong>Лидерство</strong> — искусство управлять другими, вдохновляя их и даже передавая им эти самые кубики лидерства своим действием.</li>
<li><strong>Автомобиль</strong> — навык управления наземным автомобильным транспортом.</li>
<li><strong>Создание предметов</strong> — прямота рук персонажа, технические знания и возможность собрать что-то полезное. Если ваш персонаж условно кузнец в фентезивековье, то и взламывать замки тоже позволяет.</li>
<li><strong>Ловкость рук</strong> — мелкая моторика, карманные кражи, фокусы и прочие действия, требующим высокой точности.</li>
<li><strong>Компетенция</strong> — компетенция персонажа ещё в чём-либо, что вам необходимо и вы можете придумать для вашей собственной игры.</li>
</ul>
<p>Навыки могут даже немного менять правила игры или добавлять механики (как <strong>лидерство</strong>, <strong>скорость</strong>, <strong>телосложение</strong> и <strong>сила воли</strong>), если вам это необходимо. Вы можете придумать свои навыки, соответствующие игровому миру. К примеру вы играете в Фентези, соответственно навык <strong>Автомобили</strong> вам без надобности, соответственно вы можете заменить его на <strong>Верховую езду</strong>, которая будет делать то же самое, но для управления животным, когда персонаж едет верхом.</p>

<br> <!-- Пустая строка -->
<h3>Мастерство</h3>


<p>Ответьте на вопрос — чем занимался ваш персонаж в прошлом или даже на момент начала приключений? Как он зарабатывал или всё ещё зарабатывает на жизнь? Мастерство — это какое-то из общепринятых родов деятельности или профессий, принятых в вашем игровом мире, такие как маг или алхимик в фэнтези, космический пехотинец в фантастике, хакер в киберпанке и многое другое.</p>
<p>Ремесло должно быть выражено как можно более точно, например “Хакер из трущоб”, “Маг голубых кровей” или даже “Кирасир штурмового полка”. Не просто «ремесленник», а «алхимик», «кузнец», «врач» и прочие. С данным пунктом и его логикой связан отыгрыш персонажа и некоторые технические моменты. К примеру, “<strong>Хакеру из трущоб</strong>” легче обычного даются взломы общественных систем, т.к. он жил постоянно на задворках цивилизации и научился получать блага таким образом. “<strong>Ищейке корпорации N</strong>” проще искать информацию по людям и взламывать импланты, ведь ему всю карьеру приходилось добывать информацию любым способом и желательно, чтобы жертва не сопротивлялась. И так с каждым ремеслом или группой ремёсел. Ведущий игры может <strong>ситуативно</strong> давать бонусы на те или иные действия, упрощать или незначительно увеличивать эффект.</p>

<br> <!-- Пустая строка -->
<h4>Шкала потенциала</h4>


<p>Отвечает на вопрос “На чем персонаж специализируется” в своем ремесле? В зависимости от ответа она предоставит каждому персонажу или группе персонажей уникальные механики, например Вера у жрецов, Ярость у варваров, Удача у пиратов и воров, Стойкость у солдат и многие другие варианты. Вам предстоит придумать, как же проявляется потенциал. <strong>Очки потенциала (ОП)</strong> будут тратиться на проявления потенциала и способности персонажа.</p>

<br> <!-- Пустая строка -->
<h4>Проявления потенциала</h4>


<p>Каждая ячейка может быть использована трижды. Заполнять ячейки можно так, как удобно, главное не более <strong>трех (3)</strong> пунктов в одну ячейку. Последовательность тоже не важна, можно сначала во все по единице, потом по второй и т.д.. Можно до предела каждую ячейку последовательно. Хоть в разнобой, выбор только за вами. Вам предстоит создать шкалу самостоятельно, следуя конкретным шагам, описанным ниже:</p>
<ul>
<li><strong>На шкале потенциала обведите ячейки</strong> — обведите <strong>четыре (4)</strong> ячейки. Новые ячейки вы можете принять как награду от ведущего за крутые испытания или развивать самостоятельно при прохождении сюжетных арок (см. Развитие персонажа);</li>
<li><strong>Придумайте уникальное действие </strong>— то самое условие, принцип, от которого заполняются ячейки шкалы (ярость, мана, дека и т.д.), кроме применения способностей;</li>
<li><strong>Каждый уровень заполненности ячейки используются только как единица бонуса</strong> — дополнительная единица эффекта, единица принимаемого урона, один кубик для переброса, пункты памяти деки для хакера и прочие.</li>
</ul>
<p>Приведем примеры уникальных действий, чтобы вы понимали, как это работает и вы сможете самостоятельно создавать их, поняв простую логику:</p>
<ul>
<li><strong>Здоровяк</strong> — персонаж может принимать в шкалу дополнительный физический урон;</li>
<li><strong>Железная воля</strong> — персонаж может принимать в шкалу дополнительный ментальный урон;</li>
<li><strong>Дек-интерфейс</strong> — ячейки памяти для хакера, заполняется записанными хакерскими программами, пока хакер не выгрузит их;</li>
<li><strong>Мана</strong> — классический способ применения заклинаний магами, тратится на применение заклинаний;</li>
<li><strong>Ярость</strong> — заполняется каждым пропущенным ударом, может быть потрачено на дополнительный урон;</li>
</ul>
<p>Ваш здоровяк принимает в неё физический урон, комиссар принимает ментальный урон, варвар использует как дополнительный урон или использует как силу боевого крика, удачливый вор использует как переброс кубиков, декер из условного киберпанка заполняет ее за применение горячих программ взлома — всё, что угодно, хоть  расходуемое топливо. Придумайте название, обозначьте действие, пользуйтесь!</p>

<br> <!-- Пустая строка -->
<h4>Восстановление шкалы</h4>


<p>Сразу встаёт вопрос, как же очищать/восстанавливать свою особую шкалу? Ведь никому не интересен ценный ресурс, который возможно потратить за один раз и больше о нем не вспоминать. Для этого существует несколько вариантов:</p>
<ul>
<li><strong>Отдых</strong> — у вас есть достаточное время для совершения комфортного полноценного отдыха для вашего персонажа. В зависимости от условий отдыха ведущий может наложить различные ограничения или наоборот, временно бафнуть.;</li>
<li><strong>Криты на действия</strong> — каждый кубик, сверх безусловного успеха в проверке, связанной с вашим ремеслом, вы можете потратить на восстановление вашей шкалы в соотношении <strong>1 LV</strong> за <strong>1</strong> пункт;</li>
<li><strong>Проверка ремесла</strong> — совершите проверку с помощью <strong>AD6</strong> по сложности <strong>Основной Подготовки</strong> и за каждый успех восстановите 1 пункт, но это тратит весь ход персонажа. Это аварийный вариант и его возможно применить только в активной сцене.</li>
<li>Активной считается сцена, где ситуация имеет какие-либо риски для персонажей как таковая. Т.е. когда воин спокойно держит несколько гоблинов, которые ему не могут ничего существенного сделать, а маг спокойно стоит сзади и кастует — совершенно не активная, это последовательный геноцид. А вот когда в сцене появились риски, например вор решил на балу украсть брошь дворянина и начал действовать — уже вполне активная, ведь тут всё грозит рисками, а команде надо его прикрывать.</li>
<li>Когда персонаж совершает это действие, всем явно видно без любых проверок, что персонаж задумался, разминается, молится, ещё что-то делает.</li>
<li><strong>Расходники</strong> — для различных ремёсел вполне могут быть свои расходники, которые восстанавливают шкалу. К примеру зелье ярости или грибной суп для варвара, мана-восстанавливающие корешки и зелья для мага, обезболивающие и успокоительные для иных случаев и т.д. Расходник будет просто восстанавливать количество пунктов от своего качества и принятого объема.</li>
</ul>

<br> <!-- Пустая строка -->
<h3>Способности персонажей</h3>


<p>Это особые возможности отдельного персонажа или целой группы персонажей совершать очень крутые действия. Их можно воспринимать, как карточки, на которых написан крутой эффект. Мы приведем несколько примеров и вы поймёте, о чём речь, а также какими их создавать.
<img src="images/image3.png" alt="alt_text" title="image_tooltip"></p>
<ul>
<li><strong>Широкий размах</strong> — нанесите удар, наносящий всем противникам вокруг основной цели полный урон от оружия, если ваша атака оказалась успешной.</li>
<li><strong>Глухая оборона</strong> — принимает на щит все <strong>удары</strong> до следующего хода. Исключение составляют крупные объекты, такие как дубина огра или падающее дерево, которые могут разрушить и щит, и персонажа.</li>
<li><strong>Из говна и палок</strong> — при создании предмета игнорируйте требование к уровню инструментов/мастерской.</li>
<li><strong>Адреналин</strong> — снимите с себя все полученные штрафы (<strong>НЕ FV!!!</strong>) на выполнение действий до конца текущего хода.</li>
<li><strong>Из последних сил</strong> — сохраните последний пункт основного буфера, предотвращая дополнительный урон, если при последнем ударе основной буфер должен был полностью исчерпаться.</li>
</ul>
<p>Способности всегда отвечают на вопрос “Что ДЕЛАЕТ персонаж?” и никогда не являются пассивными эффектами. Но давайте сразу определимся, что не будет никаких “Сразу убиваю”, “Точно убеждаю” и прочих моментов, которые в один момент решают ситуацию.</p>
<p><strong>ВАЖНО!!!</strong> Каждая способность может иметь до <strong>трёх (3)</strong> уровней.</p>

<br> <!-- Пустая строка -->
<h4>Применение способностей</h4>


<p>Применять способности довольно просто. Каждая способность при применении тратит вашу <strong>шкалу потенциала</strong>, тратя <strong>один (1)</strong>, <strong>два (2)</strong> или <strong>три (3)</strong> пункта шкалы потенциала. От потраченных пунктов будет зависеть контекст способности. Покажем на примере способностей “<strong>Глухая оборона</strong>” и “<strong>Из говна и палок</strong>”.</p>
<table>
  <tr>
   <td>П
   </td>
   <td colspan="6" >Глухая оборона
   </td>
   <td colspan="6" >Из говна и палок
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td colspan="12" >Применяется так, как описано
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td colspan="6" >Глухая оборона также начинает блокировать снаряды
   </td>
   <td colspan="6" >Игнорируйте требование к материалам в разумных пределах
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td colspan="6" >В дополнение ко всему предыдущему не позволяет щиту окончательно сломаться.
   </td>
   <td colspan="6" >Игнорируйте требование ко времени изготовления в разумных пределах.
   </td>
  </tr>
</table>

<br> <!-- Пустая строка -->
<h3></h3>

<br> <!-- Пустая строка -->
<h4>Эффект от способностей</h4>


<p>Все мы хотим, чтобы способности могли наносить урон, накладывать различные состояния, помогать в действии и прочие желаемые, <strong>выраженные в числах</strong>, эффекты. В данном случае каждый уровень способностей может создавать следующее на каждом уровне:</p>
<ol>
<li>Слабое состояние, три (3) урона, <strong>1 FV</strong> оппоненту;</li>
<li>Среднее состояние, добавить к эффекту уровень показателя, <strong>2 FV</strong> оппоненту;</li>
<li>Сильное состояние, удвоить эффект от предмета, <strong>3 FV</strong> оппоненту.</li>
</ol>
<table>
  <tr>
   <td>
LvL
   </td>
   <td colspan="6" >Порез
   </td>
   <td colspan="6" >Обманный манёвр
   </td>
  </tr>
  <tr>
   <td>1
   </td>
   <td colspan="6" >Наносит 3 урона ножом
   </td>
   <td colspan="6" ><strong>1 FV</strong> оппоненту на атаку
   </td>
  </tr>
  <tr>
   <td>2
   </td>
   <td colspan="6" >Добавляет ножу урон от Смекалки
   </td>
   <td colspan="6" >Накладывает на цель Оцепенение
   </td>
  </tr>
  <tr>
   <td>3
   </td>
   <td colspan="6" >Накладывает на цель сильное кровотечение
   </td>
   <td colspan="6" >Удваивает урон оружия от следующей атаки
   </td>
  </tr>
</table>

<br> <!-- Пустая строка -->
<h4>Эволюция способностей</h4>


<p>На самом деле нам больше нравится слово мутация способностей. Если развитие <strong>часто</strong> является синонимом числового развития, то мутация как раз больше вызывает ощущений про изменение, добавление нового или расширение уже существующего смысла.</p>
<p>Эволюция заключается в том самом добавлении нового смысла к уже существующей способности, но не больше, чем ещё <strong>два (2)</strong> раза, помимо ранее созданной способности, итого <strong>три (3)</strong> уровня. Разберём на примере “<strong>Глухой обороны</strong>”.</p>
<ol>
<li><strong>Глухая оборона</strong> — принимает на щит все <strong>удары</strong> до следующего хода. Исключение составляют крупные объекты, такие как дубина огра или падающее дерево, которые могут разрушить и щит, и персонажа.</li>
<li><strong>Полная защита</strong> — поглощает все <strong>удары</strong> и <strong>выстрелы</strong> на щит до следующего хода, за исключением крупных объектов, таких как дубина огра или пушечное ядро, способных снести и щит, и персонажа.</li>
<li><strong>Идеальная защита</strong> — щит не может быть окончательно сломан, пока вы находитесь в обороне под воздействием этой способности.</li>
</ol>

<br> <!-- Пустая строка -->
<h4>Опциональное правило</h4>


<p>Вы можете оставить <strong>Применение</strong> и <strong>Эволюцию</strong> вместе, а также обусловить разное для разных ремёсел. Перед внедрением данных пунктов мы протестировали в Фентези сеттинге и сделали следующим образом:</p>
<p>Маги  использовали для заклинаний <strong>Применение способностей</strong>, без возможности эволюционировать само заклинание, им приходилось для каждого заклинания придумывать и записывать новую <strong>Способность</strong>. Но также, маги могли расширять свою шкалу потенциала за взятую черту, подготовленную специально для этого ремесла.</p>
<p>Воины могли использовать только <strong>Эволюцию способностей</strong>, развивая этим свои боевые стили, но никак не могли вложить больше пунктов потенциала в применение одной способности и сама шкала потенциала развивалась только с прохождением сюжетной арки. Зато им была доступна возможность тратить шкалы <strong>БП</strong>, <strong>СВ</strong> и <strong>Основного буфера</strong> на дополнительное использование способностей за ход.</p>
<p>Вы также можете отказаться от одного из разделов, как Применение или Эволюция, только убедитесь, что <strong>ВСЕ</strong> ваши игроки будут использовать конкретный один раздел и точно понимают, какой именно.</p>
<h3>Черты персонажа</h3>


<p>Это характерные черты одного или нескольких персонажей, которые являются неотъемлемой частью их сущности. Они могут проявляться в виде врожденных талантов, приобретенных особенностей или даже отражать сверхспособности, которые, в свою очередь, могут изменять определенные правила игры. Эти черты могут быть механическими, нарративными или смешанными, и их уровень может варьироваться от <strong>одного (1)</strong> до <strong>пяти (5)</strong>.</p>

<br> <!-- Пустая строка -->
<h4>Личные черты</h4>


<p>В основном это неотъемлемая часть персонажа, его особенность, отличительная черта, которые определяют детализацию при ответе на вопрос “Кто он?” и добавляют немного атмосферы в отыгрыш.</p>
<ul>
<li><strong>Когти</strong> — персонаж по умолчанию имеет небольшое оружие в виде &quot;когтей&quot; на руках или лапах, с качеством на уровень черты.</li>
<li><strong>Грозный</strong> — противники, которые хуже подготовлены, будут сталкиваться с дополнительными <strong>FV</strong> при выборе персонажа в качестве цели, соответствующей уровню этой черты, до тех пор, пока не столкнутся с иным примером.</li>
<li><strong>Болевой порог</strong> — добавляет ячейки физического буфера, увеличивая устойчивость персонажа к урону.</li>
<li><strong>Удачливый</strong> — персонаж может перебросить D6 при любом броске на уровне черты <strong>ИЛИ</strong> выбрать лучший результат, если уже перебрасывал.</li>
<li><strong>Голубая кровь</strong> — внешность и поведение персонажа выдают его высокородное происхождение, открывая перед ним всё больше возможностей и дверей в обществе.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Профессиональные черты</h4>


<p>Профессиональные черты отражают конкретные спецификации в рамках общего понимания навыка. Эти черты не должны быть слишком узкими, чтобы не ограничивать игрока, но и не охватывать весь навык в целом.</p>
<ul>
<li><strong>Короткие клинки</strong> — сражение ножами и прочими короткими клинками убирает <strong>FV</strong> на уровень черты.</li>
<li><strong>Лучник</strong>— итоговый урон лука выше на уровень черты, но <strong>ДО</strong> подсчета брони.</li>
<li><strong>Карманник</strong> — при карманной краже персонаж игнорирует <strong>FV</strong> на уровень черты.</li>
<li><strong>Талантливый дилетант</strong> — если <strong>навык</strong> не выше уровня <strong>черты</strong>, действия <strong>навыка</strong> игнорируют <strong>1 FV</strong>. Работает на <strong>навык</strong>, пока нет иных модификаторов.</li>
<li><strong>Устрашающий довод</strong> — когда вы приводите доводы при запугивании, их эффект выше на уровень черты.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Читерские черты</h4>


<p>Самый простой способ — иметь контекстуальное применение в ситуации или добавить новый контекст персонажу.</p>
<ul>
<li><strong>Некротика</strong> — снижает степени оглушения, отравления и прочего, что игнорирует нежить в вашей игре;</li>
<li><strong>Дуэлянт</strong> — при сражении 1х1 персонаж добавляет противнику LV для атак по себе на уровень черты, отображая свои навыки парирования;</li>
<li><strong>Холодный разум</strong> — любые запугивания и прочие приказы уменьшают свой эффект на уровень черты;</li>
<li><strong>Жаростойкий</strong> — уменьшает получаемый урон от пламени;</li>
<li><strong>Удушающие споры</strong> — каждый ход наносит всем окружающим удушающий урон на уровень черты.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Изменение черт</h4>


<p>Черты могут развиваться за счет получаемых очков, но также способны изменяться под влиянием нарративных моментов истории, различных достижений, действий или событий. К примеру, ангел имеет черту “<strong>Крылья</strong>”, которая позволяет ему летать и парить, но падший ангел меняет крылья на “<strong>Демонические крылья</strong>” с отростками когтей, что позволит ему атаковать ими как множеством ножей. Когти зверя могут обломать или остричь, от чего некоторое время их будет невозможно использовать, но через какое-то количество времени они снова отрастут и станут доступны.</p>

<br> <!-- Пустая строка -->
<h4>Чего не могут черты</h4>


<p>В качестве черты персонажа вы можете назначит что угодно, логичное для персонажа в вашем игровом мире, но при этом есть ряд пунктов, которых мы рекомендуем избежать, чтобы не ломать игру или механики. Вот небольшой список:</p>
<ul>
<li><strong>Подготовка</strong> — не рекомендуем уменьшать или увеличивать значение подготовки с помощью черт.</li>
<li><strong>D6</strong> — не рекомендуем с помощью черт давать персонажу дополнительные <strong>D6</strong>;</li>
<li><strong>Тузы</strong> — не рекомендуем добавлять персонажу дополнительные тузы при помощи черт, это две разные механики.</li>
</ul>
<p>Вот небольшой список. Ведущий игры может изменять его, добавляя или убирая пункты по своему усмотрению. Но такие моменты обязательно обсудите перед игрой и данное правило должно быть корректно для всех. Например, ведущий разрешил оркам с помощью черты изменять <strong>подготовку Конфликта</strong> и игрок вместо уровня <strong>2</strong> взял себе <strong>3</strong>. Круто? Да! Но как быть тем же эльфам или людям? Эльфам он может позволить делать то же самое с <strong>Передвижением</strong>, а вот для людей он считает, что это не логично. Тогда выдайте людям возможность брать дополнительную черту на их выбор или дополнительные два очка способностей.</p>

<br> <!-- Пустая строка -->
<h3>“Туз в рукаве”</h3>


<p>Под данным названием мы подразумеваем нечто интересное, особое, крутое, что поможет игрокам или иным персонажам в достижении их целей и может полностью перевернуть игровую ситуацию с нога на голову. Название взято из ощущения той самой фразы “Туз в рукаве”, чем эти возможности и являются. Далее будем называть это просто Туз.</p>
<p>Механика <strong>Туза</strong> очень проста и состоит из следующих принципов:</p>
<ul>
<li><strong>Название</strong> — каждый Туз имеет какое-либо название, которое примерно объясняет, что он такое;</li>
<li>Применить Туз возможно всегда, когда его название точно подходит под сложившуюся ситуацию в игре, но только один раз в сцену;</li>
<li>Применение Туза не гарантирует выполнение какого-либо действия, оно просто меняет ситуацию в сцене или кратно увеличивает эффект;</li>
<li>После применения Туза — он сгорает.</li>
</ul>
<p>Тузы, по большей части, присутствуют в игре как награда игрокам и персонажам за крутые действия или решения, когда их выдавать, в конце игровой сессии или сразу - решайте сами. Каждый персонаж может хранить до пяти НЕ использованных Тузов, но не больше, чем его статус (CS — далее в правилах). Также Тузы могут быть, и чаще всего будут, как личные у различных монстров, именитых противников и даже ситуаций в игре. Применить Туз возможно АБСОЛЮТНО в любой момент, если это логически связано с ситуацией, а его действие распространяется на кого угодно в игровой сцене, но чаще на ВСЕХ сразу.</p>
<p>Приведем пример пары тузов, различных характеров с их применением, и вы сразу же всё поймёте.</p>
<p><p>“Не в этот раз!”</p>
<p>Варвар Кром был на волоске от получения смертельного удара клинком в сердце. Спасбросков в системе не предусмотрено, а противник выкинул критический успех! Но не тут-то было! Кром выкрикнул: “Не в этот раз” — и в последний момент идеально увернулся от атаки, не получив и царапины.</p>
<p><p>«Ещё раз»</p>
<p>Борец Биба внешне не представлял из себя чего-то грозного, но всегда выходил на поединок без страха и с азартом в глазах. В процессе боя нанеся противнику несколько сокрушительных ударов, он понял, что этого недостаточно и противник всё ещё на ногах и сейчас случится непоправимое. “Ещё раз”, промелькнуло в голове Бибы, и он снова получил один внеочередной ход.</p>
<p><p>«Запредельно»</p>
<p>Сотворение заклинания Арката имело <strong>невероятный успех</strong>, а значит, получило эффект <strong>Х2</strong> и должно было обуглить шкуру монстра. Но этого было мало… В заклинание он вложил гораздо больше, чем просто формулу — он вложил свои эмоции, свою душу, что вывело “Огненный всполох” за пределы возможного, и он получил ещё <strong>Х2</strong> эффект (по итогу Х4).</p>
<p><p>«Всё было не так!»</p>
<p>Колдун Кирим знал, что ситуация была не такой плохой, как о ней рассказывали, а лес, через который шли вражеские войска, был населен дикими призраками, ведь не даром он переводился с общего на эльфийский как “Лес потерянных душ”. Они точно захотят вкусить страданий непосвященных.</p>
<p>Как вы видите, <strong>Тузы</strong> довольно мощная, но при этом веселая и лакомая механика для любого игрока. Награждайте их <strong>Тузами</strong> за достижения в игре, неординарные подходы и сами давайте им название, исходя из ситуации, за которую вы их награждаете. Поверьте, это круто!</p>
<p><strong>ВАЖНО!!! </strong>Ведущий игры, если категорически не согласен с логикой применения <strong>Туза</strong>, может наложить вето на его текущее применение или попросить совершить дополнительную проверку.</p>