<h2>Счетчики</h2>


<p>На листе персонажа присутствует несколько счетчиков, которые используются для различных ситуаций, как подсчет типов урона, отрезков времени, затрат потенциала и иных необходимых подсчетов. Визуально они представлены в виде многоугольников.</p>

<br> <!-- Пустая строка -->
<h3>Буферы персонажа</h3>


<p>Любой персонаж и даже объект имеет буферы, которые отражают его физическую выносливость, ментальную крепость, общую тягу к жизни и общую целостность персонажа. Они различаются между собой по направлению, но несут всегда одну функцию — увеличение выживаемости персонажа в различных ситуациях.</p>

<br> <!-- Пустая строка -->
<h4>Основной буфер (ОБ)</h4>


<p>Чтобы игра не превращалась в <strong>“One shot — One kill”</strong>, у каждого из персонажей игроков есть <strong>основной буфер</strong> для принятия любого урона. Его объем у персонажей всегда равен <strong>четырём (4)</strong> ячейкам. Но вполне нормальная ситуация, когда у врага количество ячеек будет больше, чем у игроков, как у монстра или важного сюжетного персонажа.</p>
<p>Воспринимать <strong>его</strong> можно как сюжетную броню, шкалу удачи Нейтана Дрейка, структуру из Sifu, стремление к победе и прочие воплощения — вы можете трактовать это как угодно, не меняя механику. В основной буфер записывается абсолютно любой получаемый персонажем урон.</p>
<p>Каждая ячейка любого буфера может вместить до <strong>трех (3)</strong> пунктов урона. Заполнять ячейки можно так, как удобно, главное не более <strong>трех (3)</strong> пунктов урона в одну ячейку. Последовательность тоже не важна, можно сначала во все по единице урона, потом по второй. Можно заполнять до предела каждую ячейку последовательно. Хоть в разнобой, выбор за вами.</p>

<br> <!-- Пустая строка -->
<h4>Защитные буферы</h4>


<p>Защитные буферы — специализированные по своим направлениям буферы, в каждый из которых записывается свой тип урона. Получить дополнительные буферы вам позволят <strong>Черты</strong> персонажа. Например,  черта <strong>Болевой порог</strong> <strong>третьего (3)</strong> уровня предоставит персонажу <strong>три (3)</strong> ячейки буфера для записывания физического урона. Черта &quot;<strong>Сила воли</strong>&quot; — буфера для записывания ментального урона.</p>
<p>Они значительно повышают выживаемость персонажа, поскольку каждая ячейка буфера способна поглотить три (3) единицы урона. Не забывайте использовать это преимущество, оно ещё не раз спасёт жизни ваших персонажей.
<img src="images/image4.png" alt="alt_text" title="image_tooltip"></p>

<br> <!-- Пустая строка -->
<h4>Время и количество</h4>


<p>Когда вам необходимо отмерить какой-либо временной промежуток, количество ходов, количество действий, сколько было выброшено <strong>LV</strong>/<strong>FV</strong> и многое другое. В общем — для всего, что можно и необходимо посчитать.</p>
<p>Счетчики могут не только заполняться, но и опустошаться. К примеру счётчик <strong>Забастовка</strong>, который учитывает плохое и хорошее отношение к рабочим завода. Каждое плохое решение будет заполнять счётчик и, когда он полностью заполнится, рабочие устроят забастовку и работа прекратится. Хорошие решения будут очищать счетчик <strong>Забастовки</strong>.</p>
<p>Просто отметьте любое необходимое количество делений и отмечайте их когда выполняете условие. каждый счетчик разделен на <strong>шесть (6)</strong> делений, но вы можете отмечать большее количество, используя деления одного или даже нескольких следующих счетчиков времени в необходимом количестве.</p>
<p><p>Примеры счётчиков</p>
<p><p>I “Подкрепление”.</p>
<p>Группа персонажей сражается в районе станции и знает, что союзное подкрепление прибудет через 6 ходов, им необходимо всего лишь пересечь мост на соседней улице.</p>
<ul>
<li>Ведущий и игроки размечают себе счетчик на 6 делений и может не сообщать о нём.</li>
</ul>
<p>Бой шёл хорошо, даже отлично! Обороняющиеся были захвачены врасплох и не успели ничего понять. Но через 3 хода один рядовой опомнился и побежал к колоколу на башне. Никто не успел его перехватить. Звон колокола оповестил защитников города о наличии противника и теперь все силы будут брошены в сражение. Мало того, что могут прибыть дополнительные противники, но подкрепление для игроков может завязнуть в сражениях по пути к месту встречи. Ведущий увеличивает счётчик ещё на 3 или 6 (по своему усмотрению), но игрокам может не сообщать, какое значение теперь тоже.</p>
<p><p>II “Переговоры”</p>
<p>Персонажи столкнулись с упёртым чиновником, от которого просто необходимо получить бумаги. Чиновник не уверен в корректности доводов персонажей и его терпение начинает кончаться.</p>
<ul>
<li>Ведущий размечает себе два счётчика</li>
<li>Раздражение — предположим на 3, когда лопнет терпение чиновника и он выставит всех вон;</li>
<li>Доводы — возьмём 6, чиновник упёртый и ему необходимо больше доводов.</li>
</ul>
<p>Игроки начинают спор, каждый ход приводя свои доводы и совершая действия с определенной сложностью. Успешные действия заполняют “Доводы”, а провальные “Раздражение” и цель игроков заполнить “Доводы” раньше.</p>
<p><p>III “Погоня”</p>
<p>— Джони! Гони за тем такси! Он уходит!</p>
<p>И началась погоня! Персонажи преследуют подозреваемого, который захватил такси и пытается оторваться по многолюдным улицам города.</p>
<ul>
<li>Игроки размечают погоню, предположим, на 12, как сообщил ведущий. Они сами будут отслеживать погоню.</li>
</ul>
<p>Теперь им главное успешными действиями заполнить счетчик раньше преследуемого  и даже сбить заполнение счетчика своей целью. Стрельба по колесам, подрезание, нахождение короткого пути — в ход может идти всё!</p>
<p><p>IV “Разработка”</p>
<p>Персонаж решил придумать для своей лазерной винтовки новую систему охлаждения. Ведущий сообщает ему, что разработка является длительным процессом и заняться этим можно между миссиями. Для разработки устанавливается счетчик на четыре деления.</p>
<p>Игрок между миссиями совершает действия по разработке, заполняя счетчик. Когда он будет полностью заполнен — чертеж для системы охлаждения будет придуман. Таким образом он не будет отвлекать ведущего и сообщит результат по итогу и может информировать в процессе.</p>

<br> <!-- Пустая строка -->
<h4>Дополнительная шкала</h4>


<p>На листе персонажа вы увидите раздел Дополнительная шкала. Он предназначен для вашего воображения. Если вам необходима ещё какая-либо шкала, специальные счетчики или иная механика, связанная с шкалами или буферами — напишите ее название и используйте.</p>
<p><img src="images/image5.png" alt="alt_text" title="image_tooltip"></p>

<br> <!-- Пустая строка -->
<h3>Шрамы</h3>


<p>Это последствия, полученные персонажем в результате сильных потрясений, физических повреждений или иных факторов непреодолимой силы. Шрамы могут быть как ментальными (поражение сознания), так и физическими (поражение тела). Шрамы имеют три уровня, разделяясь по степени вреда и ограничений, которые они накладывают на персонажа. Каждый персонаж имеет три ячейки шрамов на своем листе, если не сказано иного. Мы приведем уровни шрамов и что они делают, а также количество урона, которое необходимо получить для появления шрама.</p>
<ul>
<li><strong>Ранение (0+)</strong> — персонаж получает <strong>слабое состояние</strong>, которое в любом случае пройдет после следующей сцены.</li>
<li><strong>Шрам (3+)</strong> — персонаж получает <strong>среднее состояние</strong>, пока не будет вылечен шрам. Заполните <strong>одну (1)</strong> отметку в ячейке.</li>
<li><strong>Глубокий шрам (6+)</strong> — персонаж получает <strong>тяжелое состояние</strong>, пока шрам не будет вылечен. Заполните <strong>две (2)</strong> отметки в ячейке.</li>
<li><strong>Увечье (9+)</strong> — с персонажем уже навсегда. Всё, <strong>finita la commedia</strong>. Персонаж получает жесткое ограничение в действиях, потеряв какую-либо конечность, получив фобию или иное жесткое ограничение, как например сделать одну <strong>подготовку</strong> до уровня <strong>0</strong> или запретить одну или несколько <strong>имеющихся</strong> способностей. Снять их с вас будет уже невозможно, если ведущий игры не предусмотрел какой-нибудь очень редкий, но интересный способ. Обычно, он не должен быть распространенным и всеобще известным, но не обязательно. При получении <strong>увечья</strong> персонаж СРАЗУ выбывает из сцены. Заполните <strong>три (3)</strong> отметки в шкале.</li>
</ul>
<p><strong>ВАЖНО!!! </strong>У персонажа есть только три ячейки Шрамов и не обязательно в каждый должны быть вписаны разные уровни шрамов. К примеру все три ячейки могут быть заполнены шрамами или глубокими шрамами. Все зависит от того, сколько урона персонаж получил после заполнения всех буферов (указано напротив шрамов). Но записанное увечье остается в ячейке навсегда. При получении трех увечий персонажу больше некуда записывать шрамы, а значит когда он должен получить новый шрам — он выбывает из игры, умирает. Это сделано для того, чтобы персонажи не чувствовали себя бессмертными в игре, где изначально умереть не так уж и просто.</p>

<br> <!-- Пустая строка -->
<h4>Избавление от шрамов</h4>


<p>Любой шрам можно понизить на один уровень, или убрать полностью по решению ведущего, при окончании сюжетной арки, после которой назначат длительный перерыв в приключениях, когда персонажи живут спокойной жизнью, отдыхают и занимаются прочими безопасными делами.</p>
<p>Также при наличии в вашем игровом мире подходящего уровня медицины и доступа персонажей к ней, вы можете обращаться к любому компетентному персонажу (даже персонажу Игрока) за помощью, чтобы уменьшить или полностью снять Шрамы.</p>
<ul>
<li><strong>Ранение</strong> — доктор просто совершает действие медицины без каких либо сложностей и снимает состояние. Если необходимо снять сразу несколько <strong>Ранений</strong>, за каждое дополнительное <strong>Ранение</strong> добавьте <strong>1 FV</strong>;</li>
<li><strong>Шрам</strong> — каждый <strong>шрам</strong> накладывает усложнение в виде <strong>3 FV</strong>. Если кто-то желает снять сразу два (2) <strong>Шрама</strong>, общая сложность будет <strong>6 FV</strong>;</li>
<li><strong>Глубокий шрам</strong> — каждый <strong>Глубокий шрам</strong> накладывает <strong>5 FV</strong> на попытки вылечить. Лечение нескольких <strong>Глубоких шрамов</strong> соответственно складывается.</li>
<li><strong>Увечье</strong> — его невозможно вылечить, как ранее было сказано, только компенсировать, если в вашем мире существует данная возможность.</li>
</ul>
<p>При совершении действия для лечения необходимо иметь в доступе медицинское оборудование, как минимум аптечку или лекарства, позволяющие совершать лечение как таковое. В противном случае ведущий может добавить ещё <strong>1 FV</strong> к проверке или запретить его.</p>
<p>Механические и неживые объекты тоже получают шрамы, просто называть их можно поломками, а чинить необходимо другим навыком (нап. <strong>Ремонт</strong>), но в остальном это всё одна и та же механика.</p>

<br> <!-- Пустая строка -->
<h2>Выходим из сцены</h2>


<p>Многие привыкли, что персонажи при получении урона, превышающего его запас условного НР падает без сознания или умирает. Это хорошо для варгеймов, для игр с тенденцией смены персонажей и прочих. Мы же несколько против постоянного убийства персонажей. Даже когда персонаж потратил все буферы, получил три глубоких шрама, увечье и ещё что-нибудь случилось — персонаж не умирает, если этого не желает игрок или нет логически обоснованной ситуации.</p>
<p>Но всё же это не делает персонажей бессмертными. Игрок может решить, что его персонаж выходит из сцены в следующих ситуациях:</p>
<ul>
<li><strong>Основной буфер</strong> — когда он полностью заполнен, игрок может заявить, что персонаж выходит из сцены. Если оставался излишний урон, он переносится в шрамы;</li>
<li><strong>Шрам</strong> — когда персонаж получает любой <strong>шрам</strong>, игрок также может заявить, что персонаж выходит из сцены;</li>
<li><strong>Увечье</strong> — когда персонаж получает увечье он <strong>обязательно</strong> выходит из сцены.</li>
</ul>
<p>Т.е. это не смерть как таковая. Персонаж упал без сознания, зажимает рану в углу, смирился с доводами оппонента и многое другое. Выход из сцены не является смертью, это именно отказ персонажа продолжать текущую сцену и оппонент может делать с ним в данном случае что угодно.</p>