<h2>Группы и толпы</h2>


<p>Если противник действует <strong>толпой</strong>, он считается одним существом большего размера. Это требует логического обоснования.</p>
<ul>
<li><strong>Размер</strong> — Толпа считается одним существом большего размера (применяются стандартные правила размера);</li>
<li><strong>Увеличенная шкала</strong> — За каждый дополнительный размер толпа получает дополнительное количество ячеек, равное среднему значению ячеек у существ в ней (например, при среднем значении 3 ячейки на существо, толпа получает +3 ячейки за размер);</li>
<li><strong>Получаемый урон</strong></li>
<li>Точечные атаки заполняют каждую ячейку по отдельности;</li>
<li>Масштабные атаки заполняют все ячейки одновременно;</li>
<li><strong>Передвижение</strong> — скорость толпы равна средней скорости существ;</li>
<li><strong>Рассеивание толпы</strong> — Толпа распадается, когда количество незаполненных ячеек исчерпано;</li>
<li><strong>Количество</strong> — количество существ для превращения в толпу:<ul>
<li>3-4 — дополнительный один (1) размер;</li>
<li>5-6 — дополнительные два (2) размера;</li>
<li>7-9 — дополнительно три (3) размера;</li>
<li>И так за каждые 3-4 дополнительных существа в толпе.</li>
</ul>
</li>
</ul>