<h2>Давайте договоримся</h2>



<pre><code>                        “Договор — инструмент понимания


                                   Понимание — ключ ко всем дверям”
</code></pre><p>Z.A.</p>
<p>В данной книге вы ознакомились со всеми основными правилами, необходимыми как для проведения разовой весёлой партии, так и длительной эпической кампании.</p>
<p>“Мне можете на слух объяснить, я так лучше воспринимаю,”— является всего лишь отмазкой и/или прикрытием вашей лени. Всегда можно прочитать и задать вопрос по непонятной теме, ведь что-то в голове останется после прочтения. Если же правила покажутся вам неинтересными — ваше право. Кто мы такие, чтобы кого-то заставлять?</p>
<p>Правила рекомендуют, как действовать в той или иной ситуации. Они не требуют выполнения «буква к букве» и «слово в слово», не являются законом. Однако могут помочь решить множество спорных ситуаций. Какую бы систему вы бы ни взяли — всегда следуйте <strong>Духу</strong>, а не <strong>Букве</strong>.</p>

<br> <!-- Пустая строка -->
<h3>Взаимоотношения игроков</h3>


<p>Все неигровые ситуации и прочие взаимоотношения оставьте за порогом игры. Если на игре присутствует или будет присутствовать человек, который вам неприятен, постарайтесь не обращать на него внимания. Главное только то, что происходит в игре. Не переносите личную неприязнь во внутриигровые отношения. Если не можете — лучше не появляться на игре вместе с данным человеком.</p>
<p>Самый главный посыл данного пункта — оставайтесь человеком. Все мы собираемся на игры ради удовольствия, а не решения взаимных психологических проблем.</p>

<br> <!-- Пустая строка -->
<h3>“Кости брошены!”</h3>


<p><strong>В.</strong> — У тебя не получилось сдвинуть камень.</p>
<pre><code>                    __<span class="hljs-keyword">И</span>.__ — Ладно, <span class="hljs-keyword">тогда</span> вместо камня пытаюсь <span class="hljs-built_in">найти</span> другую лазейку.
</code></pre><p><strong>В.</strong> — Хорошо, но ты уже пытался сдвинуть камень, наделав шуму, а значит преследователи знают, где ты.</p>
<pre><code>                    __<span class="hljs-keyword">И</span>.__ — Но я же сказал, что <span class="hljs-keyword">тогда</span> <span class="hljs-keyword">не</span> буду этого делать!
</code></pre><p><strong>В.</strong> — Ты сделал заявку и бросил кубики, а значит персонаж совершал действия.</p>
<p>Всё, что было заявлено как действие, — должно быть исполнено. Заявленные события должны произойти. В какой последовательности и с каким результатом — в конечном итоге определяет результат броска и интерпретация ведущего, но игроки могут попытаться переубедить его. Если вы не согласны с каким-либо действием или исходом, то обсудите данный вопрос после игровой сессии, не превращайте игру в балаган.</p>
<p>Также стоит уточнить: после озвучивания заявки или броска кубиков на заявленное действие — отменить его уже невозможно.</p>

<br> <!-- Пустая строка -->
<h3>“Я хочу!”</h3>


<p>Каждый чего-либо желает от игры. Один хочет бежать в лобовую и расстреливать противников как Рембо. Другой — тщательного и долгого планирования тактики. Третий — опасности, где каждый шаг может оказаться последним. А у ведущего свои планы и видение игры.</p>
<p>Все мы играем ради получения удовольствия. Кто-то собирается отыграть подлеца и злодея: ему мало важна механика, только для соблюдения баланса. Другой хочет поглубже погрузиться в историю мира, а третий — достичь целей своего персонажа. Встречаются и те, кто готов душу отдать ради механики и только ради неё.</p>
<p>Так или иначе — это всё ФАН! То есть получение удовольствия от процесса и результатов, эмоциональные переживания и просто веселый бред. Пожалуйста, получайте от игры максимум положительных эмоций и не зацикливайтесь на чем-то одном, например, присутствии или отсутствии определенных, только вам ведомых или придуманных артефактов. Даже если что-то работает не так или не совсем так, как вы себе представляли, — старайтесь извлекать из каждой ситуации фан.</p>
<p>Ведь всё, что происходит, только двигает сюжет и события вперед, от побед до поражений. Игрокам же остается только действовать в обозначенной ситуации и получать результат.</p>
<p>Обязательно устройте нулевую сессию и поговорите! Кто что хочет увидеть на игре, чего желает от игрового процесса, а чего категорически не хочет. В противном случае вы можете не получить от игры желаемых эмоций и останетесь разочарованы.</p>

<br> <!-- Пустая строка -->
<h3>Каждый имеет право побомбить!</h3>


<p>Помните, все мы люди, и случиться может разное. Неосторожно сказанная фраза может привести к нервному срыву другого игрока: он будет кричать, обижаться, бить посуду и рожать кирпичи. НО! Это его право! Пусть побомбит, отдышится, успокоится и потом возвращается в игру, а у вас пока будет время обсудить игровые механики и вопросы. Даже ведущий может бомбануть. Особенно ведущий.</p>

<br> <!-- Пустая строка -->
<h3>Кросс-пол и прочие составляющие</h3>


<p>Вот скажите: как вы относитесь к кросс-полу в настолках? Для тех, кто не знает, поясняем: это когда игрок одного пола играет персонажа противоположного пола. Наша редакция относится к этому совершенно спокойно, ведь мы, в первую очередь, играем не в любовные похождения и не в половые обязательства, а в приключения, где пол персонажа влияет точно так же, как одна испарившаяся лужа кислоты на глобальную проблему озоновых дыр.</p>
<p>Конечно, при игре в жанре «половых отношений» (упаси вас Боги в такое играть!), этот вопрос стал бы очень ощутимой проблемой, но никак не в классических приключениях.</p>
<p>Подводя итог, если игрок хочет играть кросс-пол, а вам это не нравится, тогда у вас есть три варианта:</p>
<ul>
<li>Принять и не кричать без устали “кросс-пол руинит игру!”;</li>
<li>При невозможности принятия данного факта, если у вас свои половые/психические/моральные/прочие предубеждения, то просто не обвиняйте игрока во всех смертных грехах. Это крайне глупо;<ul>
<li>Если вас уже в конец задолбал кросс-пол, а игрок снова хочет взять подобную роль - просто пообщайтесь. Скажите, что вы или вся команда уже устали от кросс-пола, попросите его взять персонажа с полом, соответствующим полу игрока. НО НЕ ДАВИТЕ! Только попросите, ведь игрок тоже ловит фан и это одна из главных составляющих.</li>
</ul>
</li>
<li>Последний пункт. При невозможности выполнения любого одного вышестоящего правила — удалитесь из игры. Не играйте с этим игроком.</li>
</ul>
<p><strong>СЕКСИЗМ, ПО ОТНОШЕНИЮ К ДРУГИМ ИГРОКАМ И ИХ ПЕРСОНАЖАМ, НЕПРИЕМЛЕМ ВО ВСЕХ ЕГО ПРОЯВЛЕНИЯХ!</strong></p>
<p>Мы в VK: <a href="https://vk.com/codex_of_limits">https://vk.com/codex_of_limits</a></p>