<h2>Эффекты</h2>


<p>Это следствие и результат произведенного действия. Существует несколько видов эффектов, различающихся по длительности и механике срабатывания. Например, полученный урон от удара — это эффект, однако состояние кровотечения — тоже эффект. А ещё персонажу могут отдать приказ «Стоять!», и это тоже эффект. В данной главе мы поговорим о том, какие бывают эффекты и что с ними можно сделать.</p>

<br> <!-- Пустая строка -->
<h3>Урон</h3>


<p>Любимые всеми боевыми группами эффекты, которые наносят непосредственный урон другим персонажам и объектам, а иногда и самим искателям приключений. Удар меча, звуковая волна, горение, кислота, падение и многое другое, что наносит непосредственный урон. Они наносят урон персонажам или иным объектам и снижаются броней цели.</p>
<p>При нанесении урона он будет высчитываться по следующей формуле:</p>
<ul>
<li><strong>Damage</strong> — искомое количество наносимого урона;</li>
<li><strong>WD</strong> — непосредственно урон самого оружия;</li>
<li><strong>AT</strong> — тип атаки;</li>
<li><strong>DM</strong> — дополнительные модификаторы, которые могут быть положительными (различные уязвимости) и отрицательными (броня и различные сопротивления). Любой урон идёт сюда, если в источнике урона не прописано иное.</li>
</ul>
<p><strong>Данная категория </strong>может только заполнять буферы персонажа и разделяется на два вида:</p>
<ul>
<li><strong>Физический</strong> — когда эффект стремится разрушить физическое состояние персонажа или иного объекта. Например, его рубят, бьют, он падает с высоты, горит и прочие воздействия.</li>
<li><strong>Ментальный </strong>— когда какая-то ситуация испытывает психику персонажа на крепость: паранормальные явления, провокации оппонента, воздействие веществ и тому подобное.</li>
</ul>
<p><strong>ВАЖНО!!!</strong> Физический или ментальный урон может наносить любой вид эффекта, от кинетического до сверхъестественного. Какой урон в итоге наносит эффект, логически выходит из его названия и контекста, а также может назначаться ведущим игры.</p>

<br> <!-- Пустая строка -->
<h4>Тип атаки (AT)</h4>


<p>Хотим поговорить подробнее о данном моменте. Каждый персонаж с абсолютно любым оружием в руках или даже без оружия может выбирать тип атаки, изменяя количество затрачиваемых кубиков. Предоставляем небольшой список:</p>
<ol>
<li><strong>Быстрая атака </strong>— обычное заявленное действие атаки, когда вы просто бьете или стреляете, лишь бы попасть;</li>
<li><strong>Выверенная атака </strong>— персонаж дополнительно вкладывает в удар свою массу для нанесения большего урона;<ul>
<li>увеличивает сложность на <strong>одну (1)</strong> категорию;</li>
<li>увеличивает урон оружия в <strong>два (2)</strong> раза.</li>
</ul>
</li>
<li><strong>Точная атака </strong>— в данном случае персонаж целится в уязвимые точки противника, ища брешь в его защите.<ul>
<li>увеличивает сложность на <strong>две (2)</strong> категории;</li>
<li>увеличивает урон оружия в <strong>три (3)</strong> раза.</li>
</ul>
</li>
</ol>
<p>Номера типов атак, приведенных выше, являются тем самым числом, которое ставится в формуле в значение <strong>AT</strong>. Например, если у оружия урон 2 и им наносят быструю атаку, то он нанесет 2 урона, при выверенной атаке — 4 урона, а при точной — целых 6.</p>
<p><strong>ВАЖНО!!!</strong> Выверенная и точная типы атак совместимы с действиями, описанными в разделе «<strong>Влияем на сложность</strong>». Но нельзя сделать количество <strong>D6</strong> меньше, чем требует сам тип атаки и оружие в руках персонажа.</p>
<p>В вашей игре может быть оружие, которое выполняет только какой-то конкретный тип атаки. Например, дробовик или арбалет используют только тяжелый тип атаки. Снайперская винтовка применяет только прицельный тип атаки. Бензопила — только обычный тип атаки. Но большинство рукопашного оружия может использовать любой тип.</p>
<p>Но! В таких случаях вы можете применять к оружию любые действия, описанные в разделе «<strong>Влияем на сложность</strong>», если это не противоречит логике.</p>

<br> <!-- Пустая строка -->
<h4>Влияние размеров на урон</h4>


<p>Мы хотим обозначить разницу размеров на нанесение и получение урона объектами. Это необходимо, так как существует разница между ударом по человеку и великану. В данном случае всё просто:</p>
<ul>
<li><strong>AD</strong> — в формуле всегда добавляется в DM;</li>
<li><strong>Квадрат разницы</strong> — всегда используется квадрат разницы в размерах:</li>
</ul>
<ul>
<li><strong>AS</strong> — размер того, кто действует по таблице размеров;</li>
<li><strong>TS</strong> — размер цели, на которую воздействуют, по таблице размеров</li>
</ul>
<p>Чтобы вам было понятнее, мы приведем таблицу разницы размеров и точные числа изменения урона при имеющейся разнице.</p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-60f9{background-color:#26A69A;text-align:center;vertical-align:top}
.tg .tg-ivsg{background-color:#DDF2F0;text-align:center;vertical-align:top}
.tg .tg-q59s{background-color:#DDF2F0;text-align:center;vertical-align:middle}
.tg .tg-7yig{background-color:#FFF;text-align:center;vertical-align:top}
.tg .tg-f4yw{background-color:#FFF;text-align:center;vertical-align:middle}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-60f9" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Разница размеров</span></th>
    <th class="tg-60f9" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Изменение урона (DM)</span></th>
    <th class="tg-60f9" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Дополнительные возможности</span></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0</span></td>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0</span></td>
    <td class="tg-7yig" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">—</span></td>
  </tr>
  <tr>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1</span></td>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1</span></td>
    <td class="tg-ivsg" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">—</span></td>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2</span></td>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">4</span></td>
    <td class="tg-7yig" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">—</span></td>
  </tr>
  <tr>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">3</span></td>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">9</span></td>
    <td class="tg-q59s" colspan="3" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Может атаковать сразу несколько существ меньшего размера, находящихся рядом.</span></td>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">4</span></td>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">16</span></td>
  </tr>
  <tr>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5</span></td>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">25</span></td>
    <td class="tg-q59s" colspan="3" rowspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Может атаковать сразу целые сектора</span></td>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">6</span></td>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">36</span></td>
  </tr>
  <tr>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">7</span></td>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">49</span></td>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">8</span></td>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">64</span></td>
    <td class="tg-f4yw" colspan="3" rowspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Может атаковать группы секторов, накрывая целые отряды</span></td>
  </tr>
  <tr>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">9</span></td>
    <td class="tg-ivsg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">81</span></td>
  </tr>
  <tr>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">10</span></td>
    <td class="tg-7yig" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">100</span></td>
  </tr>
</tbody></table>

<br> <!-- Пустая строка -->
<p><strong>ВАЖНО!!!</strong> Чем существо больше своей цели, тем больше урона оно наносит. Но чем меньше существо, тем проще ему совершать физические действия против бОльших целей на разницу в размере. Например, если цель больше на <strong>3</strong> категории, то попадать на <strong>3</strong> проще.</p>

<br> <!-- Пустая строка -->
<h4>Взрывчатка и ее особенности</h4>


<p>Сразу хотим отметить, что в данном разделе мы подразумеваем именно взрывчатку, которая предназначена непосредственно для нанесения урона по площади, как плазменные гранаты из фантастики, взрывные колбы из фэнтези, гранаты современные и прочие средства взорвать что нибудь. Так как взрывчатку крайне сложно реализовать по обычной формуле урона, она становится непохожей на взрывчатку, мы предоставляем новую формулу:</p>
<ul>
<li><strong>EDamage</strong> — искомое количество наносимого урона взрывом;</li>
<li><strong>5</strong> — это именно пятерка, взрывчатка всегда атакует как большое оружие;</li>
<li><strong>ES</strong> — размер взрывчатки;</li>
<li><strong>IL</strong> — качество взрывчатки или взрывающегося предмета;</li>
<li><strong>DM</strong> — дополнительные модификаторы, которые могут быть положительными (различные уязвимости) и отрицательными (броня и различные сопротивления);</li>
</ul>
<p>Если вам не нравится какое-либо из уже установленных чисел, вы считаете, что взрывы слишком сильные или любые иные доводы — просто поменяйте числа на любые подходящие вам. В любом случае мы считаем, что взрыв должен быть довольно сильным, но труднодоступным, иначе он ничем, кроме площади поражения, не будет отличаться от остального урона.</p>

<br> <!-- Пустая строка -->
<h4>Направление урона</h4>


<p>Также мы хотим описать вам варианты того, как записывается урон. Да, в некоторых моментах можно сказать известную фразу “Урон есть УРОН!!!”, но это не так интересно, как иметь дополнительные механики и способы его нанесения. И вот здесь мы опишем три варианта, как это возможно.</p>
<ul>
<li><strong>Прямой урон</strong> — это то самое “Урон есть УРОН!!!”, он записывается в любые буферы персонажа, а также буферы, которые предоставляют защитные предметы. В данном варианте персонажа конкретно бьют, калечат, кидаются магическими снарядами и прочие прелести.</li>
<li><strong>Сквозной</strong> — данный урон невозможно записать в буферы защитных предметов, чаще всего это эффекты, которые уже есть на персонаже, как кровотечение, отравление, ужас и прочие неприятности;</li>
<li><strong>Сюжетный</strong> — это крайне редко используемый урон, его нельзя просто так взять и получить. Он напрямую записывается в основной буфер персонажа, а по окончании оного переходит в шрамы и увечья. Обычно это та ситуация, когда персонаж не сможет избежать урона, как например находясь под пытками или божество наказывает его за то, что помочился на его алтарь в святом месте. Просто бросьте <strong>1</strong>, <strong>2</strong> или <strong>3D6</strong>, в зависимости от серьезности ситуации, и посчитайте сумму чисел, столько урона получит персонаж.</li>
</ul>
<p>Нет, описывать в каждом из уронов, какой он направленности не надо, это должно быть понятно из типа взаимодействия, как персонажа бьют или он страдает от отравления. Если же вы сомневаетесь, то лучше всего уточнить у ведущего, тем более в мире с магией, где условное заклинание “мертвенная хватка” вроде наносит физический урон, но при этом игнорирует доспехи или любой иной вариант.</p>

<br> <!-- Пустая строка -->
<h3>Приказы</h3>


<p>Приказы — это попытка заставить других персонажей совершить какие-либо действия, которые они даже не хотели бы. Они все имеют моментальный эффект, всегда фиксированную сложность и уровень заполнения буферов при отказе следовать приказу. Чтобы применить приказ, достаточно совершить стандартное успешное действие с <strong>подготовкой</strong>, обычно это <strong>Соц. инженерия</strong>.</p>
<ul>
<li><strong>Простой приказ</strong> — это желание заставить другого персонажа совершить простое действие, как выронить оружие, отойти, встать на месте и т.д. Сложность всегда стандартная, по подготовке, но при отказе от успешного простого приказа цель принимает в буфер <strong>четыре (3)</strong> урона;</li>
<li><strong>Сложный приказ</strong> — он заставляет персонажа сделать что-то более комплексное, как пойти завести машину, говорить правду или молчать, леч уклоняясь от взрыва. В общей сумме всё, что заставляет применять навыки и подготовки. Сложность такого приказа всегда <strong>Сложнее обычного</strong>. При отказе от успешного сложного приказа цель принимает в буфер <strong>восемь (6)</strong> урона;</li>
<li><strong>Невозможный приказ</strong> — попытка заставить цель выполнить приказ, который она никогда бы не совершила. Сложность такого приказа ведущий определяет самостоятельно, но рекомендуем не понижать меньше категории <strong>Очень сложно</strong>, но можно увеличивать до +<strong>5 FV</strong> и более или использовать счетчики с длительными действиями. При отказе от успешного сложного приказа цель принимает в буфер <strong>двенадцать (12)</strong> урона.</li>
</ul>
<p><p>Примеры приказов</p>
<ul>
<li><strong>Стоять!</strong> — простой приказ запрещает цели передвигаться в вашу сторону в свой ход. </li>
<li><strong>В атаку!</strong> — сложный приказ заставляет цель атаковать указанный объект.</li>
<li><strong>Переходи на мою сторону</strong> — невозможный приказ, пытка переманить цель на свою сторону;</li>
<li><strong>Бежим!</strong> — простой приказ убеждает цель бежать с вами;</li>
<li><strong>Тише…</strong> — сложный приказ дает цели перебросить кубики на скрытность;</li>
<li><strong>Умри</strong> — невозможный приказ, пытается заставить цель покончить с собой.</li>
</ul>

<br> <!-- Пустая строка -->
<h3>Состояния</h3>


<p>Состояния кратко, но емко описывают, что происходит с персонажем или любым другим объектом. Они делятся на три категории:</p>
<ul>
<li><strong>Легкие</strong> — состояния и эффекты, которые мешают вашему персонажу, но не несут в себе критичного подтекста, даже не наносят урон. Данные состояния не могут влиять на <strong>основные D6</strong>, <strong>способности</strong> и <strong>черты</strong> персонажей.</li>
<li><strong>Средние</strong> — довольно неприятные состояния и эффекты, которые уже не просто мешают, но кратно осложняют жизнь персонажа и уже могут наносить урон при соблюдении условий. Данные состояния не могут влиять на <strong>способности</strong> и <strong>черты</strong>, но уже могут изменять на <strong>основные D6</strong> персонажей.</li>
<li><strong>Сильные</strong> — данная категория уже может лишить персонажа возможностей, заставлять действовать не по своей воле или даже пойти против своих, а также наносят довольно много урона. Данные состояния не могут влиять только на <strong>черты</strong> персонажей.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Легкие состояния</h4>




<ul>
<li><strong>Замешательство</strong> — персонаж получает <strong>2 FV</strong> на все действия;</li>
<li><strong>Испуг</strong> — персонаж имеет <strong>2 FV</strong> на проверки против источника;</li>
<li><strong>Утомление</strong> — персонаж теряет по <strong>2D6</strong> из всех подготовок;</li>
<li><strong>Связан</strong> — запрещает персонажу, на выбор связавшего, один вариант:</li>
<li><strong>Ноги</strong> — передвигаться со скоростью более шага<strong>;</strong></li>
<li><strong>Руки</strong> — требующие сложных действий рук;</li>
<li><strong>Дезориентация</strong> — все проверки, связанные с зрением, получают <strong>2 FV</strong>;</li>
<li><strong>Слабое отравление</strong> — включает <strong>1 лёгкое состояние</strong> и увеличивает длительность на <strong>1 категорию</strong>;</li>
<li><strong>Симпатия</strong> — объект симпатии игнорирует <strong>2 FV</strong> при проверках на персонажа и он не может отказаться от <strong>простых приказов</strong>;</li>
<li><strong>Лежачий</strong> — все атаки ближнего боя игнорируют <strong>2 FV</strong>, дальние получают <strong>2 FV </strong>по персонажу;</li>
<li><strong>Смазанный</strong> — все физические действия получают <strong>2 FV</strong> по персонажу;</li>
<li><strong>Схвачен</strong> — персонаж не может передвигаться;</li>
<li><strong>Вялость</strong> — персонаж должен сжечь <strong>1 основной D6</strong> каждый ход, чтобы начать действовать;</li>
<li><strong>Тревожный</strong> — персонаж получает на <strong>2 урона</strong> больше при отказе от ментальных приказов и имеет <strong>2 FV</strong> на социальные взаимодействия;</li>
<li><strong>Заражен</strong> — персонаж получает любое <strong>лёгкое состояние</strong> и каждый период (ход, сцену, день и т.д.) должен совершить <strong>проверку лечения</strong>. После двух успешных попыток подряд состояние будет снято. При каждой неудаче он заражает ещё кого-нибудь. После <strong>трех неудач</strong> подряд состояние становится <strong>Средним</strong>;</li>
<li><strong>Прилив сил</strong> — персонаж каждый ход может перебрасывать <strong>2D6</strong> и выбрать лучший результат;</li>
<li><strong>Замедленный</strong> — персонаж теряет <strong>1D6</strong> из всех подготовок и получает <strong>1 FV</strong> на все действия.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Средние состояния</h4>




<ul>
<li><strong>Оглушение</strong> — персонаж теряет <strong>2 основных D6</strong>;</li>
<li><strong>Ошеломление</strong> — персонаж получает <strong>4 FV</strong> на все действия;</li>
<li><strong>Страх</strong> — как <strong>Испуг</strong>, но персонаж теряет половину базовой скорости при попытке приблизиться к источнику;</li>
<li><strong>Бессилие</strong> — как <strong>Утомление</strong>, но дополнительно потеряйте <strong>2 основных D6</strong>;</li>
<li><strong>Опутан</strong> — скорость персонажа равна нулю (0);</li>
<li><strong>Частичная слепота</strong> — все проверки, связанные с зрением, получают <strong>3 FV</strong> и запрещает совершать действия требующие внимания;</li>
<li><strong>Отравление</strong> — включает <strong>1 среднее</strong> или <strong>2 лёгких</strong> состояния и увеличивает их длительность на <strong>1 категории</strong>;</li>
<li><strong>Очарование</strong> — объект симпатии игнорирует <strong>4 FV</strong> при проверках на персонажа и он не может отказаться от <strong>простых</strong> и <strong>сложных приказов</strong>;</li>
<li><strong>Расплывчатость</strong> — как <strong>Смазанность</strong>, но значение <strong>2</strong> на <strong>D6</strong> тоже становится <strong>FV</strong>.</li>
<li><strong>Скручен </strong>— персонаж не может передвигаться и совершать проверки, кроме попыток освободиться;</li>
<li><strong>Слабость</strong> — персонаж должен сжечь <strong>1 основной D6</strong> каждый ход, чтобы начать действовать и теряет <strong>2D6</strong> из всех <strong>подготовок</strong>;</li>
<li><strong>Разбитость</strong> — персонаж получает на <strong>4 урона</strong> больше при отказе от ментальных приказов и имеет <strong>4 FV</strong> на социальные взаимодействия;</li>
<li><strong>Заболел</strong> — персонаж получает любое <strong>среднее состояние</strong> и каждый период (ход, сцену, день и т.д.) должен совершить <strong>проверку лечения</strong> со штрафом <strong>2 FV</strong>. После трёх успешных попыток подряд состояние будет снято. При каждой неудаче он заражает ещё кого-нибудь. После <strong>трех неудач</strong> подряд состояние становится <strong>Сильным</strong> или получает ещё одно <strong>Легкое состояние</strong>.</li>
<li><strong>Воодушевление</strong> — персонаж каждый ход может перебросить <strong>3D6</strong> и взять лучший результат, а также игнорирует любой <strong>1 FV</strong>;</li>
<li><strong>Заторможен</strong> — персонаж теряет <strong>2D6</strong> из всех подготовок, получает <strong>2 FV</strong> на все действия и теряет половину <strong>скорости</strong>.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Сильные состояния</h4>




<ul>
<li><strong>Недееспособность</strong> — персонаж лишен <strong>основных D6</strong> и не может использовать проверки, например при парализации и подобных эффектах;</li>
<li><strong>Контузия</strong> — персонаж получает <strong>6 FV</strong> на все действия;</li>
<li><strong>Ужас</strong> — как <strong>Страх</strong>, но персонаж может двигаться только <strong>ОТ</strong> источника;</li>
<li><strong>Истощение</strong> — как <strong>Бессилие</strong>, но дополнительно теряйте ячейку <strong>любого буфера</strong> персонажа каждый период времени (сцена, день, ход и т.д.)</li>
<li><strong>Скован</strong> — комбинирует состояния <strong>Опутан</strong> и все варианты <strong>Связывания</strong>;</li>
<li><strong>Слепота</strong> — персонаж ничего не видит, все проверки, связанные с зрением, получают <strong>5 FV</strong> и не может совершать проверки, требующие внимания;</li>
<li><strong>Интоксикация</strong> — включает <strong>1 Сильное</strong>, <strong>2 Средних</strong> или <strong>3 Легких</strong> состояния и продлевает их длительность на <strong>2 категории</strong>.</li>
<li><strong>Подчинение</strong> — объект симпатии игнорирует <strong>6 FV</strong> при проверках на персонажа и он не может отказаться от <strong>любых приказов</strong>, подчиненный выполняет приказы на своё усмотрение;</li>
<li><strong>Невидимость</strong> — как любое действие против <strong>невидимого</strong> персонажа требуют отдельной предварительной проверки <strong>внимания</strong>;</li>
<li><strong>Провал</strong> — нельзя совершать <strong>проверки</strong>;</li>
<li><strong>Условный</strong> — цель считается <strong>расплывчатой</strong>;</li>
<li><strong>Безусловный</strong> — цель считается <strong>смазанной</strong>;</li>
<li><strong>Великолепный</strong> — цель считается <strong>видимой</strong>;</li>
<li><strong>Бессилие</strong> — персонаж должен сжечь <strong>2 основных D6</strong> каждый ход, чтобы начать действовать и теряет по <strong>4D6</strong> из всех подготовок;</li>
<li><strong>Сломлен</strong> — персонаж всегда отказывается от приказов и получает за это на <strong>4 урона</strong> больше, не может совершать проверки на социальные взаимодействия;</li>
<li><strong>Тяжело болен</strong> —  персонаж получает любое <strong>среднее состояние</strong> и каждый период (ход, сцену, день и т.д.) должен совершить <strong>проверку лечения</strong> со штрафом <strong>4 FV</strong>. После четырёх успешных попыток подряд состояние будет снято. При каждой неудаче он заражает ещё кого-нибудь. После <strong>двух неудач</strong> подряд текущее <strong>Среднее состояние</strong> прогрессирует до <strong>Тяжелого</strong> получает ещё одно <strong>Среднее состояние</strong>, которое будет прогрессировать вместе с основной болезнью. Когда персонаж имеет три <strong>Тяжелых состояния</strong> и должен получить четвертое, персонаж становится <strong>Недееспособен</strong>.</li>
<li><strong>Вдохновение</strong> — персонаж каждый ход может перебросить <strong>5D6</strong> и взять лучший результат, а также игнорирует любые <strong>2 FV</strong>;</li>
<li><strong>Под контролем</strong> — персонаж не может отказаться от приказов источника и выполняет их механически, источнику достаточно сжечь <strong>2D6</strong> для отдачи любого приказа.</li>
<li><strong>Оцепенение</strong> — персонаж теряет <strong>3D6</strong> из всех подготовок и получает <strong>3 FV</strong> на все действия и может передвигаться только на <strong>1 шаг</strong>;</li>
</ul>
<p>Данный список довольно комплексный, но вы можете дополнять и даже изменять его для вашей игры как заблагорассудится.</p>

<br> <!-- Пустая строка -->
<h4>Накладываем состояния</h4>


<p>Чтобы наложить состояние, персонаж должен иметь возможность вообще его наложить. Невозможно наложить истощение без отравления ядом, сложно стать невидимым без магического покрова или технологического костюма, а сковать кого-то без кандалов или веревки так совсем нереально.</p>
<p>Если же ваш персонаж может это сделать, значит вам просто необходимо совершить проверку действия как обычно, но с усложнением за состояние, которое желаете наложить:</p>
<ul>
<li><strong>Лёгкое состояние</strong> — наложить <strong>чуть сложнее</strong> обычного (<strong>1 FV</strong>);</li>
<li><strong>Среднее состояние</strong> — наложить <strong>сложнее обычного</strong> (<strong>2-3 FV</strong>);</li>
<li><strong>Сильное состояние</strong> — наложить <strong>очень сложно</strong> (<strong>4-5 FV</strong>).</li>
</ul>
<p>Тут можно провести аналогию с отдачей приказов, но при этом, если действие удалось, цель не может отказаться, приняв урон в буфер.</p>

<br> <!-- Пустая строка -->
<h3>Сущность эффектов</h3>


<p>Мы любим разнообразие и считаем, что одна и та же броня не защищает одинаково от любого вида эффекта. Поэтому мы ввели в игру «<strong>Сущность эффектов</strong>», которым должно соответствовать средство защиты, чтобы действительно защищать от них. Однако мы решили отойти от традиционных «колющих», «дробящих» и прочих видов и приведем небольшой список, чтобы вы поняли, о чём идет речь:</p>
<ul>
<li><strong>Кинетический</strong> — когда по объекту бьют предметами, стреляют стрелами и пулями, он падает, врезается в препятствие и прочие взаимодействия с твердыми объектами;</li>
<li><strong>Проникающий</strong> — звук, жидкость, газы и прочие среды, способные заполнить щели и отверстия;</li>
<li><strong>Энергия</strong> — огонь, лава, холод, электричество или даже излучение, как радиация и прочие. Т.е. воздействия, которые в первую очередь основываются на энергии;</li>
<li><strong>Ментальный</strong> — любые потрясения, которые воздействует на персонажа ментально, как неприятный разговор, ужасные видения, потеря желаемого и иные стрессовые ситуации;</li>
<li><strong>Сверхъестественный</strong> — нечто, что не входит в другие виды эффектов и совершенно необъяснимым образом влияет на персонажа, как удачи и неудачи, воля богов, проклятия, демонические контракты, крик баньши и многие иные необъяснимые эффекты.</li>
</ul>
<p>Данный список является обобщенным специально для основной книги правил. Если вы желаете сделать бОльшее количество источников, это будет лично вашей инициативой и желанием, и никто вам запрещать не будет. Главное оповестите всех участников игрового процесса об этом.</p>

<br> <!-- Пустая строка -->
<h4>Область действия эффектов</h4>


<p>Пришло время немного уточнить ситуацию с областью действия эффектов. Эта тема, с одной стороны, больше необходима для нарратива, но, с другой стороны, влияет на некоторые механики и понимание того, как работает тот или иной эффект.</p>
<ul>
<li><strong>Цель</strong> — воздействуют только на одну цель, как летящая стрела, волшебная стрела и иные точечные;</li>
<li><strong>Множество целей</strong> — воздействуют две или более целей, но не затрагивающие ничего кроме, как залп волшебных стрел;</li>
<li><strong>Площадные</strong> — данные эффекты воздействуют на определенную площадь и каждый объект в ее области. К примеру, загоревшаяся земля, кислотная лужа, взрывы и прочее.</li>
<li><strong>Сцена</strong> — эффекты очень масштабные, воздействующие абсолютно на всех в сцене.</li>
<li><strong>Масштабные</strong> — в данном случае эффекты работают на всех в сцене или даже за ее пределами. Обычно это погодные явления, катаклизмы, ядерные взрывы и прочие <strong>действительно массовые</strong> эффекты.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Длительность эффектов</h4>


<p>Здесь мы объясним, как эффекты могут быть длительными, то есть влиять на персонажа и другие объекты на протяжении какого-то времени, а также как именно это работает.</p>
<p>Исходя из опыта других систем для НРИ (и не только), многие привыкли, что эффект длится N ходов, и каждый ход делает что-то. Мы согласны со второй частью, но нас не устраивает первая, когда нужно высчитывать количество ходов, не забывать об этом и заниматься математикой вместо игры.</p>
<p>Итак, длительность бывает следующей:</p>
<ul>
<li><strong>Мгновенные</strong> — эффект происходит здесь и сейчас, а также в течение текущего или ближайшего хода;</li>
<li><strong>Кратковременные</strong> — данные эффекты длятся в среднем три игровых хода;</li>
<li><strong>Продолжительно</strong> — эффект длится до конца текущей сцены или даже следующей, если сцена кончилась очень быстро;</li>
<li><strong>Долговременные</strong> — действуют несколько сцен или постоянно, пока персонаж не снимет эффект, ему помогут снять эффект или не произойдет какое-либо событие, которое снимет его.</li>
</ul>

<br> <!-- Пустая строка -->
<h4>Увеличение длительности</h4>


<p>Предполагаем, что вам понятно, что такое <strong>мгновенные</strong> эффекты (удары, ошеломления, приказы и т.д.), но как сделать так, чтобы эффект стал более длительным? Некоторые эффекты уже имеют длительность как таковую, например, кровотечение, отравление и контузия могут длиться до конца сцены или даже несколько сцен. Долговременные эффекты обычно уникальны или должны иметь постоянный источник, пока он существует, например, радиация вокруг работающего реактора, тепло вокруг костра или удушающая вонь вокруг болот.</p>
<p>Но как увеличить длительность эффектов? Здесь всё просто, есть несколько вариантов:</p>
<ul>
<li><strong>Источник</strong> — вы можете создать или иметь источник, который будет распространять этот эффект. Костер для тепла, оставить оружие в противнике, нож с кровотечением, черта или способность.</li>
<li><strong>Критический успех</strong> — за полученные сверх необходимого дополнительные <strong>LV</strong> можно увеличить длительность эффекта, как внутри категории, так и между категориями.</li>
<li><strong>Логика</strong> — если эффект подразумевает в своем названии, что он не может быть моментальным, как кровотечение, отравление, горение, болезнь и прочие, скажите, что он как минимум кратковременный.</li>
</ul>
<p><strong>ВАЖНО!!!</strong> Эффекты могут увеличивать длительность как внутри категории, увеличивая количество ходов, сцен или иные временные промежутки, так и между категориями. Позвольте игрокам без особых трудностей повысить категорию от <strong>кратковременной</strong> до <strong>сцены</strong>, но добавьте условие при переходе от <strong>сцены</strong> к <strong>долговременной</strong>. Например, эффект должен сложиться пять раз или у данного эффекта должна быть логика, говорящая о большой длительности.</p>