/* Текст и заголовки */
.sidebar-header h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.game-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5rem;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    letter-spacing: 5px;
    margin-bottom: 1rem;
    animation: titleGlow 3s infinite alternate;
}