.codex-accordion {
    margin: 25px 0;
    border-top: 1px solid #333;
    padding-top: 15px;
}

.codex-section {
    margin-bottom: 15px;
}

.codex-content {
    display: none;
    padding: 8px 0 0 15px;
}

.codex-section.active .codex-content {
    display: block;
}

.codex-section.active .codex-btn .arrow {
    transform: rotate(180deg);
}